<div class="container profile-container">
  <div class="col-sm-12 col-md-4">
    <img src="/images/profile-logo.png">
    <div class="company-header">
      <h2><span>Supplier Profile </span>&middot;<span><a href="#"> View Buyer Profile</a></span></h2>
      <h1><%= company.name %></h1>
    </div>
    
    <% if (locations["showHq"] === false) { %>
      <div class="company-info-box company-business-address">
        <h3><span class="glyphicon glyphicon-map-marker info-glyph"></span><span class="info-title">Official Business Address</span></h3>
        <p><%= locations["company-isHq"][0].addressLine1 %></p>
        <p><%= locations["company-isHq"][0].addressLine2 %></p>
        <p><%= locations["company-isHq"][0].country %></p>
      </div>
    <% } else { %>
      <div class="company-info-box company-business-address">
        <h3><span class="glyphicon glyphicon-map-marker info-glyph"></span><span class="info-title">Official Business Address</span></h3>
        <p><%= locations["company-notHq"][0].addressLine1 %></p>
        <p><%= locations["company-notHq"][0].addressLine2 %></p>
        <p><%= locations["company-notHq"][0].country %></p>
      </div>
      <div class="company-info-box">
        <h3><span class="glyphicon glyphicon-globe info-glyph"></span><span class="info-title">Headquarters</span></h3>
        <p><%= locations["company-isHq"].addressLine1 %></p>
        <p><%= locations["company-isHq"].addressLine2 %></p>
        <p><%= locations["company-isHq"].country %></p>
      </div>
    <% } %>
    
    <div class="company-info-box">
      <h3><span class="glyphicon glyphicon-earphone info-glyph"></span><span class="info-title">Company Phone &amp; Fax</span></h3>
      <p>Telephone: +<%= company.phoneNumberCountryCode %> <%= company.phoneNumber %> Ext: <%= company.phoneExtension %></p>
      <p>Fax: +<%= company.faxCountryCode%> <%= company.faxNumber %> Ext: <%= company.faxExtension %></p>
    </div>

    <div class="company-info-box">
      <h3><span class="glyphicon glyphicon-send info-glyph"></span><span class="info-title">Company Email Address</span></h3>
      <p><%= company.email %></p>
    </div>

    <div class="company-info-box">
      <h3><span class="glyphicon glyphicon-send info-glyph"></span><span class="info-title">Company Website</span></h3>
      <p><a href="<%= company.website %>" target="_blank"><%= company.website %></a></p>
    </div>

    <div class="company-detail-box">
      <h3><span>Product Specialties</span></h3>
      <p><%= supplier.viewCategoryList %></p>
    </div>

    <div class="company-detail-box">
      <h3><span>Capabilities</span></h3>
      <div class="capability-box">Apparel Design Services</div>
      <div class="capability-box">Fabrics &amp; Trim</div>
      <div class="capability-box">Digital Printing</div>
    </div>
    
    <div class="company-two-col-box">
      <h3><span>Supplier Details</span></h3>
      <div class="company-col-left">
        <div class="company-col-detail">
          <p class="detail-header">Type of Company</p>
          <p class="detail-body">Supplier</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Total # of Employees</p>
          <p class="detail-body"><%= company.employeeCount %></p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Industry</p>
          <p class="detail-body"><%= company.industry %></p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Languages</p>
          <p class="detail-body">
            <% supplier["language"].forEach(function(language) { %>
              <%= language %>
            <% }) %>
          </p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">DUNS Number</p>
          <p class="detail-body"><%= supplier.dunsNumber  %></p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Cage Code</p>
          <p class="detail-body">2MFA5</p>
        </div>
      </div><!-- END LEFT DETAIL COLUMN -->
      <div class="company-col-right">
        <div class="company-col-detail">
          <p class="detail-header">Certifications</p>
          <p class="detail-body">ISO Compliant</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Links</p>
          <p class="detail-body"><a href="<%= company.website %>" target="_blank">Our Website</a></p>
        </div>
      </div><!-- END RIGHT DETAIL COLUMN -->
      <div class="company-col-clear"></div>
    </div>
  </div><!-- END LEFT COLUMN -->
  
  <div class="col-sm-12 col-md-8">
    <div class="profile-nav">
      <ul>
        <div class="nav-left">
          <li><a href="">About</a></li>
        </div>
        <div class="nav-right">
          <li><a href="">Company Description</a></li>
          <li><a href="">Product Overview</a></li>
          <li><a href="">Statements of Responsibility</a></li>
        </div>
      </ul>
    </div>
    <div class="profile-content">
      <p>Far, beyond the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. </p>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
      <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek.</p>
      <p>Far, beyond the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. </p>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
      <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek.</p>
    </div>
  </div><!-- END RIGHT COLUMN -->
</div>
