<%- partial('../partials/dash-header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 userColumn">
      <div class="row">
        <div class="col-sm-4 userImageColumn">
          <section id="userData">
              <% if(user.image){ %><img class="userImage" src="<%= user.image %>"><% }else{%> <a href="/user/update" class="userImage"><img class="userImage" src="/images/addUserPhoto.png"></a> <%}%>
          </section>
        </div>
        <div class="col-sm-8">
          <h1><%= user.firstName %> <%= user.lastName %></h1>
          <h2><%= company.name %></h2>
          <h3>Procur Member Since <%= user.createdAt %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 userColumnLinks">
          <div class="userLink">
            <i class="fa fa-gear fa-fw"></i> <a href="/user/update">Edit User Account Settings</a><br/>
          </div>
          <div class="userLink">
            <i class="fa fa-external-link-square fa-fw"></i> <a href="/companies/<%= company.handle %>">View My Company Profile</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 userResourceLinks">
          <h4>COMPANY</h4>
          <a href="/earlyaccess">Early Access</a><br/>
          <a href="/features">Upcoming Features</a><br/>
          <a href="/pricing">Membership &amp; Pricing</a><br/>
          <a href="/about">About Procur</a>
        </div>
        <div class="col-sm-6 userResourceLinks">
          <h4>HELP &amp; SUPPORT</h4>
          <a href="/faq">FAQ</a><br/>
          <a href="/contact">Contact Us</a><br/>
          <a href="/support">Support Topics</a><br/>
          <a href="mailto:support@procur.com">Email Support</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="middleHeader">
        <h1>My Procur Action Items</h1>
      </div>
      <div class="middleDescription">
        <h1>Welcome to Procur Early Access!</h1>
        <p>We're inviting select users to register with Procur before opening up our full platform later this summer. During Early Access, account holders will be able to create company profiles, organize products and RFQs, and start engaging with our online community. When we launch our full platform, Early Access suppliers will be the first to connect with global retailers, resellers and distributors looking to fill sourcing requirements.</p>
        <a href="/earlyaccess">Learn More About Early Access</a>
      </div>
      <div class="middleList">
        <ul>
          <% if(user.image){%> <li><i class="fa fa-check-circle"></i> <strike>Upload a user photo</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Upload a user photo</li> <%}%>
           <% if(user.jobTitle){%> <li><i class="fa fa-check-circle"></i> <strike>Update your job title</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Update your job title</li> <%}%>
          <% if(company.website){%> <li><i class="fa fa-check-circle"></i> <strike>Add your company's website address</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your company's website address</li> <%}%>
          <% if(company.description){%> <li><i class="fa fa-check-circle"></i> <strike>Add your company description</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your company description</li> <%}%>
          <% if(company.website){%> <li><i class="fa fa-check-circle"></i> <strike>Add your company website</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your company website</li> <%}%>

          <% if(user.activeMode == 'buyer') { %>
            <% if(buyer) { %>
              <% if(buyer.responsibilityStatement){%> <li><i class="fa fa-check-circle"></i> <strike>Add your company's Statements of Responsibility</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your company's Statements of Responsibility</li> <%}%>
              <% if(buyer.preferredSupplierType){%> <li><i class="fa fa-check-circle"></i> <strike>Add your preferred supplier type</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your preferred supplier type</li> <%}%>
              <% if(buyer.productsOfInterest){%> <li><i class="fa fa-check-circle"></i> <strike>Add your products of interest</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your products of interest</li> <%}%>
            <% }
          }
          else if(user.activeMode == 'supplier') { %>
            <% if(supplier) { %>
              <% if(supplier.preferredBuyerType){%> <li><i class="fa fa-check-circle"></i> <strike>Add your preferred buyer type</strike></li> <%}else{%> <li><i class="fa fa-circle-o"></i> Add your preffered buyer type</li> <%}%>
            <% } %>

          <% } %>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 featuresColumn">
      <h4>Currently Accessible:</h4>
        <a class="realLink" href="/companies/<%= company.handle %>"><div class="rightSec">
          <div class="rightSecBox">
          	<i class="fa fa-user fa-fw"></i>
          </div>
          <h3 class="orangeButton">Company Profile</h3>
        </div>
        </a>

        <h4>Features Coming Soon:</h4>
        <a class="orangeWrap" href="/earlyaccess#ea-uploadPhotos"><div class="rightSec">
          <div class="rightSecBox">
          	<i class="fa fa-camera fa-fw"></i>
          </div>
          <h3 class="orangeButton">Company Photos</h3>
         	</div>
        </a>
        
        <a class="orangeWrap" href="/earlyaccess#ea-supplierCapabilities"><div class="rightSec rightAlt">
          <div class="rightSecBox">
          <i class="fa fa-tags fa-fw"></i>
          </div>
          <h3 class="orangeButton">Supplier Capabilities</h3>
        </div>
        </a>

        <a class="orangeWrap" href="/earlyaccess#ea-downloadableFiles"><div class="rightSec">
          <div class="rightSecBox">
          	<i class="fa fa-download fa-fw"></i>
          </div>
          <h3 class="orangeButton">Downloadable Files</h3>
        </div>
        </a>

        <a class="orangeWrap" href="/earlyaccess#ea-communityResources"><div class="rightSec rightAlt">
          <div class="rightSecBox">
          	<i class="fa fa-comments fa-fw"></i>
          </div>
          <h3 class="orangeButton">Community Resources</h3>
        </div>
        </a>

        <a class="orangeWrap" href="/earlyaccess#ea-productProfiles"><div class="rightSec">
          <div class="rightSecBox">
          	<i class="fa fa-th-large fa-fw"></i>
          </div>
          <h3 class="orangeButton">Product Profiles</h3>
        </div>
        </a>
    </div>
  </div>
</div>


<!-- 
<p>Welcome back, <%= user.firstName %></p>
<h1>Dashboard</h1>

<div><a href="/company/update">Change profile information</div>
<div><a href="/companies/<%= company.handle %>">View my profile</a></div>
<div><a href="/user/update">Change Password</a></div>
<div><a href="/logout">Logout</a></div>

<section id="userData">
  <ul>
    <% if(user.image){ %><img src="<%= user.image %>"><% } %>
    <li>Name: <%= user.firstName + ' ' + user.lastName %></li>
    <li>Member Since: <%= user.createdAt %></li>
    <li>Company: <%= company.name %></li>
    <% if(user.jobTitle){ %><li>Job Title: <%= user.jobTitle %></li><% } %>
    <li>About EA:</li>
  </ul>
</section>

<section id="buyerChecklist">
  <% if(company.website){%> <li><strike>Add your company website</strike></li> <%}else{%> <li>Add your company website</li> <%}%>
  <% if(user.jobTitle){%> <li><strike>Add your job title</strike></li> <%}else{%> <li>Add your job title</li> <%}%>
  <% if(user.photo){%> <li><strike>Add your photo</strike></li> <%}else{%> <li>Add your photo</li> <%}%>
  <% if(company.logo){%> <li><strike>Add your company logo</strike></li> <%}else{%> <li>Add your company logo</li> <%}%>
  <% if(company.description){%> <li><strike>Add your company description</strike></li> <%}else{%> <li>Add your company description</li> <%}%>
  <% if(company.website){%> <li><strike>Add your company website</strike></li> <%}else{%> <li>Add your company website</li> <%}%>

  <% if(user.activeMode == 'buyer') { %>
    <% if(buyer) { %>
      <% if(buyer.responsibilityStatement){%> <li><strike>Add your SoR</strike></li> <%}else{%> <li>Add your SoR</li> <%}%>
      <% if(buyer.preferredSupplierType){%> <li><strike>Add your preferred supplier type</strike></li> <%}else{%> <li>Add your preferred supplier type</li> <%}%>
      <% if(buyer.productsOfInterest){%> <li><strike>Add your products of interest</strike></li> <%}else{%> <li>Add your products of interest</li> <%}%>
    <% }
  }
  else if(user.activeMode == 'supplier') { %>
    <% if(supplier) { %>
      <% if(supplier.preferredBuyerType){%> <li><strike>Add your PBT</strike></li> <%}else{%> <li>Add your PBT</li> <%}%>
    <% } %>

  <% } %>

</section>

<% if((company.buyer == true) && (company.supplier == true)) { %>
<section id="modeToggle">
  <h4>Toggle View</h4>
  <form action="/togglemode" method="post">
    <select name="mode">
      <option value="buyer">Buyer</option>
      <option value="supplier">Supplier</option>
    </select>
    <input type="submit">
  </form>
</section>
<% } %> 
-->

<%- partial('../partials/dashboard-footer.ejs') %>

<script>
 $('html').css({ "minWidth": "768px" });
</script>
