
<%- partial('../partials/dashboard-header.ejs') %>
<script>
    $(document).ready(function() {
        $("#tabs").tabs();
    });
</script>
<div class="container">
    <h1>User Account Settings</h1>
    <div id="tabs">
        <ul>
            <li><a href="#userUpdateForm">Update Account Settings</a></li>
            <li><a href="#passwordUpdateForm">Change Password</a></li>
        </ul>

        <div id="userUpdateForm">
          <form action="/user/update" method="post" id="user-update-form" enctype="multipart/form-data">
            <strong>Contact Information</strong>
            <div><input type="text" name="firstName" value=<%= user.firstName %>></div>
            <div><input type="text" name="lastName" value=<%= user.lastName %>></div>
            <div><input type="text" name="email" id="updateEmail" value=<%= user.email %>></div>
            <div><input type="text" name="emailConfirm" value=<%= user.email %>></div>
            <div><input type="text" name="jobTitle" <% if (user.jobTitle) { %><%= user.jobTitle %><% } else{ %> placeholder="Job Title" <% } %>></div>
              <% if(user.image){ %>
              <div>Current Profile Picture</div>
              <div><img src="<%= user.image %>"></div><% } %>
            <div>Change Profile Picture: <input type="file" name="image" accept="image/*"/></div>
            <div><input type="submit"></div>
          </form>
        </div>

        <div id="passwordUpdateForm">
          <form action="/user/changePassword" method="post" id="password-update-form">
            <strong>Change Password</strong>
            <div><input type="password" name="password" id="newPassword" placeholder="New Password"></div>
            <div><input type="password" name="passwordConfirm" placeholder="Confirm Password"></div>
            <div><input type="submit"></div>
          </form>
        </div>
    </div>
</div>