
<%- partial('../partials/dash-header.ejs') %>
<script>
    $(document).ready(function() {
        $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
    });
</script>
<div class="container" id="companyUpdate">
  <script>
        $(document).ready(function() {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
            var area = " | Update Company Profile";
            var first = $("#siteTitle").text();
            $("#siteTitle").text(first + area);
        });
    </script>
    <style>
        .ui-tabs-vertical ul { margin: 0px; padding-left: 0px !important;}
        .ui-tabs-vertical .ui-tabs-nav li { list-style: none; margin: 0px; padding: 0px;}
        .ui-tabs-vertical .ui-tabs-nav li .rightSecBox { margin-right: 10px;}
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; margin-left: 20px; padding-left: 20px;}
        .ui-tabs-vertical .ui-tabs-nav li a:focus { outline: none; border: 0px none; background: none transparent;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec { background: #fbac27; color: white;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec a { color: white;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSecBox { background: #ffc65c;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec i { color: white;}
    </style>
  <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
  <div class="row ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix" id="tabs">
    <div class="col-sm-4">   
      <div class="featuresColumn">
      <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
        <li class="ui-state-default ui-corner-left">
        <div class="rightSec">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#userUpdateForm">UPDATE SETTINGS</a>
        </div>
        </li>
        <li class="ui-state-default ui-corner-left">
        <div class="rightSec">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#passwordUpdateForm">CHANGE PASSWORD</a>
        </div>
        </li>
      </ul>
      </div> <!-- END FEATURES COLUMN -->
              <br/><br/>
    </div> <!-- END COL-SM-4 -->

    <div class="col-sm-8">
      <div id="companyDetails">
        <div id="userUpdateForm">
        <h4>Contact Information</h4>
        
            <form action="/user/update" method="post" id="user-update-form" enctype="multipart/form-data" id="companyDetailsForm">
            <div class="formWrapper">
              <div class="row">
                <div class="col-sm-6">
                  <h5>Contact Name</h5>
                  <div><input type="text" name="firstName" value=<%= user.firstName %>></div>
                  <div><input type="text" name="lastName" value=<%= user.lastName %>></div><br/>

                  <h5>Update Email Address</h5>
                  <div><input type="text" name="email" id="updateEmail" placeholder="Enter New Address"></div>
                  <div><input type="text" name="emailConfirm" placeholder="Confirm New Address"></div><br/>
                </div>
                <div class="col-sm-6">
                  <h5>Job Title</h5>
                  <div><input type="text" name="jobTitle" <% if (user.jobTitle) { %>value="<%= user.jobTitle %>"<% } else{ %> placeholder="Job Title" <% } %>></div><br/>
                  <% if(user.image){ %>
                  <div><img src="<%= user.image %>"></div><% } %>

                  <h5>Update Profile Picture</h5>
                  <div><input type="file" name="image" accept="image/*"/></div>
                </div>
              </div>
            </div>
          <div class="row"><button class="continueButton" type="submit">Continue&nbsp;&nbsp; <i class="fa fa-arrow-right"></i></button></div>
        </form>
        </div>

        <div id="passwordUpdateForm">
        <h4>Update Password</h4>
          
            <form action="/user/changePassword" method="post" id="password-update-form">
            <div class="formWrapper">
              <div class="row">
                <div class="col-sm-6">
                  <h5>Enter New Password</h5>
                  <input type="password" name="password" id="newPassword" placeholder="New Password">
                </div>
                <div class="col-sm-6">
                  <h5>Confirm New Password</h5>
                  <input type="password" name="passwordConfirm" placeholder="Confirm Password">
                </div>
              </div>
              </div>
              <div class="row"><button class="continueButton" type="submit">Continue&nbsp;&nbsp; <i class="fa fa-arrow-right"></i></button></div>
            </form>
          </div>
        </div>
    </div> <!-- END COL-SM-8 -->
  </div>
  </div>
</div>

<%- partial('../partials/dashboard-footer.ejs') %>
      