<%- partial('../partials/registration-header') %>

<script src="/linker/js/countries.js"></script>
<div id="regWizard">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Complete Your Registration</h1>
      </div>
      <%- partial('../partials/progress') %>
      <form action="/company/create" id="basic-company-details-form" method="post">
        <div class="col-sm-6 col-sm-offset-3 fieldBox">
          <div class="row">
            <div class="col-sm-6">

              <h4>Company Name*</h4>
              <div class="breakForm"><input id="desiredCompanyName" type="text" name="companyName" placeholder="Your Company Name">
              <span id="desiredCompanyNameStatus"></span></div>

              <!-- Telephone Info -->
              <h4>Company Phone*</h4>
              <div class="row insideForm">
                <div class="col-sm-5 inputColumnL">
                    <div><input type="text" name="companyPhoneCountryCode" placeholder="Country Code*"></div>
                </div>
                <div class="col-sm-7 inputColumnR">
                    <div><input type="text" name="companyPhone" placeholder="Company Phone*"></div>
                </div>
              </div>
              <div class="row insideForm">
                <div class="col-sm-7 col-sm-offset-5 inputColumnR">
                    <div class="breakForm"><input type="text" name="companyPhoneExt" placeholder="Extension"></div>
                </div>
              </div>

              <h4>Company Email Address*</h4>
              <div class="breakForm"><input type="text" name="companyEmail" placeholder="info@mycompany.com"></div>
              <h4>Official Company Website</h4>
              <div class="breakForm"><input type="text" name="companyWebsite" placeholder="http://www.mycompany.com" ></div>

              <h4>Industry*</h4>
              <div class="styledSelect breakForm"><select name="companyIndustry">
                <%- partial('../partials/dropdowns/industry') %>
              </select>
              </div>

            </div><!-- End of First Column -->

            <div class="col-sm-6">
              <h4>Official Business Address*</h4>
              <div><input class="address1" type="text" name="companyAddress1" placeholder="Address Line #1"></div>
              <div><input class="address2" type="text" name="companyAddress2" placeholder="Address Line #2"></div>
              <div class="styledSelect"><select class="companyCountry" name="companyCountry" id="companyCountry" onchange="print_state('companyProvince',this.selectedIndex);"> 
                  <option value="">Select Country</option>
                  <option value="1">1</option>
                </select>
              </div>

              <div class="row insideForm">
                <div class="col-sm-7">
                  <div class="styledSelect inputColumnL">
                    <select class="companyProvince" name="companyProvince" id="companyProvince">
                      <option value="">Select Province/State</option>
                      
                    </select><script language="javascript">print_country("companyCountry");</script>

                  </div><span id="noCountryWarning"></span>
                </div>

                <div class="col-sm-5 inputColumnR">
                  <div class="breakForm">
                    <input type="text" class="companyPostalCode" name="companyPostalCode" placeholder="Postal Code">
                  </div>
                </div>
              </div>


              <h4>Is the above address the headquarters?</h4>
              <div><input class="checkbox hqbox" type="checkbox" name="companyIsHq"><div class="checkboxtext breakForm">Yes; please copy my details below.</div></div>


              <h4>Company Headquarters Address*</h4>
              <div><input class="hqfield hqaddress1" type="text" name="hqAddress1" placeholder="Address Line #1"></div>
              <div><input  class="hqfield hqaddress2" type="text" name="hqAddress2" placeholder="Address Line #2"></div>

              <div class="styledSelect">
                <select class="hqfield hqcompanyCountry" name="hqCountry" id="hqcompanyCountry" onchange="print_state('hqcompanyProvince',this.selectedIndex);">
                  <option value="">Select Country</option>
                  <option value="1">1</option>
                </select>
              </div>

              <div class="row insideForm">
                <div class="col-sm-7">
                  <div class="styledSelect inputColumnL">
                    <select class="hqfield hqcompanyProvince" name="hqProvince" id="hqcompanyProvince">
                      <option value="">Select Province/State</option>
                      <option value="1">Fakeland</option>
                    </select>
                  </div><span id="noHQCountryWarning"></span><script language="javascript">print_country("hqcompanyCountry");</script>
                </div>

                <div class="col-sm-5 inputColumnR">
                  <div class="breakForm">
                    <input class="hqfield hqPostalCode" type="text" name="hqPostalCode" placeholder="Postal Code">
                  </div>
                </div>
              </div>

              <h4>Total Number of Employees*</h4>
              <div class="styledSelect"><select name="companyEmployeeCount">
                <%- partial('../partials/dropdowns/total-employees') %>
              </select></div>

            </div><!-- End of Second Column -->
          </div><!-- End "row" -->
        </div><!-- End "col-sm-6 col-sm-offset-3 fieldBox" -->

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div><button class="continueButton" type="submit">Continue&nbsp;&nbsp; <i class="fa fa-arrow-right"></i></button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- partial('../partials/registration-footer') %>
