<script src="/countries.js"></script>
<form action="/buyer/update" method="post" id="buyer-update-form" enctype="multipart/form-data">

  <%- partial('_update_company') %>

  <h2>Buyer Info</h2>
  <section id="updateBuyerForm">
    <div><input type="text" name="dbaName" value="<%= buyer.dbaName %>"></div>
    <!-- remove this later -->
    <% if (buyer.logoUrl) { %>
      <h4>Current Logo</h4>
      <div><img src="<%= buyer.logoUrl %>" /></div>
    <% } %>
    <!-- remove this later -->
    <h4>Logo</h4><div><input type="file" name="logoUrl"></div>
    <div>
      <% for (var x = 0; x < buyer2["language"].length; x++) { %>
      <select name="language">
        <option value="<%= buyer2.language[x] %>" selected="selected"><%= buyer2.language[x] %></option>
        <%- partial('../partials/edit-dropdowns/edit-language') %>
      </select>
      <% } %>
    </div>

    <h4>Other Locations</h4>
    <% for (var x = 0; x < buyer2["locationName"].length; x++) { %>
    <section id="otherLocation<%= x %>">
      <div><input type="text" name="locationName" placeholder="Name" value="<%= buyer2.locationName[x] %>"></div>
      <div>
        <select name="locationType">
          <option value="<%= buyer2.locationType[x] %>" selected="selected"><%= buyer2.locationType[x] %></option>
          <%- partial('../partials/edit-dropdowns/edit-other-location-type') %>
        </select>
      </div>
      <div><input type="text" name="locationCity" placeholder="City" value="<%= buyer2.locationCity[x] %>"></div>
      <div>
        <select name="locationCountry" id="country<%= x %>" onchange="print_state('province<%= x %>',this.selectedIndex);">
          <!-- edit_country(buyersCountry, countryID) will populate this dropdown -->
        </select>
      </div>
      <div>
        <select name="locationProvince" id="province<%= x %>">
          <option value="<%= buyer2.locationProvince[x] %>" selected="selected"><%= buyer2.locationProvince[x] %></option>
        </select>
      </div><script language="javascript">edit_country("<%= buyer2.locationCountry[x] %>", "country<%= x %>");</script>
    </section>
    <% } %>

    <h4>Port location</h4>
    <section id="nearestPort">
      <div><input type="text" name="nearestPortCity" placeholder="City" value="<%= buyer.portCity %>"></div>
      <div><input type="text" name="nearestPortProvince" placeholder="State / Province" value="<%= buyer.portProvince %>"></div>
      <div><input type="text" name="nearestPortCountry" placeholder="Country" value="<%= buyer.portCountry %>"></div>
    </section>

    <h4>Preferred Supplier Type</h4>
    <section id="preferredSupplierType">
      <select name="preferredSupplierType">
        <option value="<%= buyer2.preferredSupplierType %>" selected="selected"><%= buyer.preferredSupplierType %></option>
        <%- partial('../partials/edit-dropdowns/edit-pref-supplier-type') %>
      </select>
    </section>

    <h4>Preferred Supplier Languages</h4>
    <% for(var x = 0; x < buyer2["preferredSupplierLanguage"].length; x++) { %>
    <section id="preferredSupplierLanguage<%= x %>">
      <select name="preferredSupplierLanguage">
        <option value="<%= buyer2.preferredSupplierLanguage[x] %>" selected="selected"><%= buyer2.preferredSupplierLanguage[x] %></option>
        <%- partial('../partials/edit-dropdowns/edit-pref-supplier-language') %>
      </select>
    </section>
    <% } %>

    <h4>Preferred Supplier Locations</h4>
    <% for(var x = 0; x < buyer2["preferredSupplierLocation"].length; x++) { %>
    <section id="preferredSupplierLocation">
      <select name="preferredSupplierCountry" id="preferredSupplierLocation<%= x %>">
        <!-- edit_country(buyersCountry, countryID) will populate this dropdown -->
      </select>
    </section><script language="javascript">edit_country("<%= buyer2.preferredSupplierLocation[x] %>", "preferredSupplierLocation<%= x %>");</script>
    <% } %>

    <h4>Type of Company</h4>
    <section id="typeOfCompany">
      <select name="typeOfCompany">
        <option value="<%= buyer.typeOfCompany %>" selected="selected"><%= buyer.typeOfCompany %></option>
        <%- partial('../partials/edit-dropdowns/edit-buyer-type') %>
      </select>
    </section>

    <h4>Accepted Delivery Terms</h4>
    <% var terms = ["EXW","FCA","CPT","CIP","DAT","DAP","DDP","FAS","FOB","CFR","CIF","Custom"]; %>

    <section id="acceptedDeliveryTerms">
      <div class="col-sm-12">
        <% for (var x = 0; x < terms.length; x++) { %>
          <% var matchFound = false; %>
          <% for (var y = 0; y < buyer2["acceptedDeliveryTerms"].length; y++) { %>
            <% if (terms[x] == buyer2.acceptedDeliveryTerms[y]) { %>
              <% matchFound = true; %>
              <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="<%= terms[x] %>" checked><div class="checkboxtext"><%= terms[x] %></div><br>
              <% break; %>
            <% } %>
          <% } %>
          <% if (matchFound === false) { %>
            <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="<%= terms[x] %>"><div class="checkboxtext"><%= terms[x] %></div><br>
          <% } %>
        <% } %>
      </div>
    </section>

    <h4>Accepted Currencies</h4>
    <% var currencies = ["USD","EUR","JPY","GBP","AUD","CHF","CAD","MXN","CNY","NZD","SEK","RUB","HKD","SGD"]; %>

    <section id="acceptedCurrencies">
      <div class="col-sm-12">
        <% for(var x = 0; x < currencies.length; x++) { %>
          <% var matchFound = false; %>
          <% for (var y = 0; y < buyer2["acceptedCurrency"].length; y++) { %>
            <% if (currencies[x] == buyer2.acceptedCurrency[y]) { %>
              <% matchFound = true; %>
              <input class="checkbox" type="checkbox" name="acceptedCurrency" value="<%= currencies[x] %>" checked><div class="checkboxtext"><%= currencies[x] %></div><br>
              <% break; %>
            <% } %>
          <% } %>
          <% if (matchFound === false) { %>
            <input class="checkbox" type="checkbox" name="acceptedCurrency" value="<%= currencies[x] %>"><div class="checkboxtext"><%= currencies[x] %></div><br>
          <% } %>
        <% } %>
      </div>
    </section>

    <h4>Accepted Payment Terms</h4>
    <% var payment = ["MoneyGram","Western Union","T/T","Credit Card","Escrow","PayPal","D/P D/A","Cash"]; %>

    <section id="acceptedPaymentTerms">
      <div class="col-sm-12">
      <% for(var x = 0; x < payment.length; x++) { %>
        <% var matchFound = false; %>
        <% for (var y = 0; y < buyer2["acceptedPaymentTerms"].length; y++) { %>
          <% if (payment[x] == buyer2.acceptedPaymentTerms[y]) { %>
            <% matchFound = true; %>
            <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="<%= payment[x] %>" checked><div class="checkboxtext"><%= payment[x] %></div><br>
            <% break; %>
          <% } %>
        <% } %>
        <% if (matchFound === false) { %>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="<%= payment[x] %>"><div class="checkboxtext"><%= payment[x] %></div><br>
        <% } %>
      <% } %>
      </div>
    </section>

    <div><input type="text" placeholder="facebook" name="facebook" value="<%= buyer.facebook %>"></div>
    <div><input type="text" placeholder="twitter" name="twitter" value="<%= buyer.twitter %>"></div>
    <div><input type="text" placeholder="pinterest" name="pinterest" value="<%= buyer.pinterest %>"></div>
    <div><input type="text" placeholder="tumblr" name="tumblr" value="<%= buyer.tumblr %>"></div>
    <div><input type="text" placeholder="linkedin" name="linkedin" value="<%= buyer.linkedin %>"></div>
    <div><input type="text" placeholder="instagram" name="instagram" value="<%= buyer.instagram %>"></div>
    <div><input type="text" placeholder="google" name="google" value="<%= buyer.google %>"></div>

    <div><input type="text" placeholder="dunsNumber" name="dunsNumber" value="<%= buyer.dunsNumber %>"></div>
    <div><input type="text" placeholder="contactName" name="contactName" value="<%= buyer.contactName %>"></div>
    <div><input type="text" placeholder="contactPosition" name="contactPosition" value="<%= buyer.contactPosition %>"></div>
    <div><input type="text" placeholder="contactEmail" name="contactEmail" value="<%= buyer.contactEmail %>"></div>

    <h4>Company Description</h4>
    <textarea name="companyDescription" placeholder="Tell us about your business..."
              rows="4" cols="50"><%= buyer.companyDescription %>
    </textarea>

    <h4>Environmental Sustainability</h4>
    <textarea name="environmentalSustainability" placeholder=""
              rows="4" cols="50"><%= buyer.environmentalSustainability %>
    </textarea>

    <h4>Quality Sourcing</h4>
    <textarea name="qualitySourcing" placeholder=""
              rows="4" cols="50"><%= buyer.qualitySourcing %>
    </textarea>

    <h4>Workplace Safety</h4>
    <textarea name="workplaceSafety" placeholder=""
              rows="4" cols="50"><%= buyer.workplaceSafety %>
    </textarea>

    <h4>Labor, Education, and Training</h4>
    <textarea name="laborEducationTraining" placeholder=""
              rows="4" cols="50"><%= buyer.laborEducationTraining %>
    </textarea>

    <h4>Reinvestment</h4>
    <textarea name="reinvestment" placeholder=""
              rows="4" cols="50"><%= buyer.reinvestment %>
    </textarea>

    <h4>Your Products of Interest</h4>
    <textarea name="productsOfInterest" placeholder=""
              rows="4" cols="50"><%= buyer.productsOfInterest %>
    </textarea>

    <h4>Select your Category Preferences</h4>
    <% for (var x = 0; x < buyer2["productCategory"].length; x++) { %>
      <label for ="autocomplete"></label>
      <input id="autocomplete<%= x + 1 %>" name="autocomplete" value="<%= buyer2.productCategory[x] %>"><br />
    <% } %>

    <div><input type="submit"></div>
  </section>
</form>
