<h1>Update Company Info</h1>
<section id="updateCompanyForm">
  <div><input type="text" name="companyName" value=<%= company.name %>></div>

  <div><input type="text" name="companyPhoneCountryCode" value=<%= company.phoneNumberCountryCode %>></div>
  <div><input type="text" name="companyPhone" value=<%= company.phoneNumber %>></div>
  <div><input type="text" name="companyPhoneExt" value=<%= company.phoneExtension %>></div>

  <div><input type="text" name="companyFaxCountryCode" value=<%= company.faxCountryCode %>></div>
  <div><input type="text" name="companyFax" value=<%= company.faxNumber %>></div>
  <div><input type="text" name="companyFaxExt" value=<%= company.faxExtension %>></div>

  <div><input type="text" name="companyEmail" value=<%= company.email %>></div>
  <div><input type="text" name="companyWebsite" value=<%= company.website %>></div>

  <div><input type="text" name="companyAddress1" value=<%= company.physicalAddress1 %>></div>
  <div><input type="text" name="companyAddress2" value=<%= company.physicalAddress2 %>></div>
  <div><input type="text" name="companyCountry" value=<%= company.country %>></div>
  <div><input type="text" name="companyProvince" value=<%= company.province %>></div>
  <div><input type="text" name="companyPostalCode" value=<%= company.postalCode %>></div>

  <div><input type="checkbox" name="companyIsHq">Location is HQ?</div>
  <div><input type="text" name="hqAddress1" value=<%= company.hqAddress1 %>></div>
  <div><input type="text" name="hqAddress2" value=<%= company.hqAddress2 %>></div>
  <div><input type="text" name="hqCountry" value=<%= company.hqCountry %>></div>
  <div><input type="text" name="hqProvince" value=<%= company.hqProvince %>></div>
  <div><input type="text" name="hqPostalCode" value=<%= company.hqPostalCode %>></div>

  <!--<div><input type="text" name="companyType" value=<%= company.companyType %>></div>-->
  <div><input type="text" name="companyIndustry" value=<%= company.industry %>></div>
  <div><input type="text" name="companyEmployeeCount" value=<%= company.employeeCount %>></div>

  <div><input type="text" name="companyUrl" value=<%= company.handle %>></div>
</section>