<h1>Update Company Info</h1>
<section id="updateCompanyForm">
  <div><input type="text" name="companyName" value="<%= company.name %>"></div>

  <div><input type="text" name="companyPhoneCountryCode" value="<%= company.phoneNumberCountryCode %>"></div>
  <div><input type="text" name="companyPhone" value="<%= company.phoneNumber %>"></div>
  <div><input type="text" name="companyPhoneExt" value="<%= company.phoneExtension %>"></div>

  <div><input type="text" name="companyFaxCountryCode" value="<%= company.faxCountryCode %>"></div>
  <div><input type="text" name="companyFax" value="<%= company.faxNumber %>"></div>
  <div><input type="text" name="companyFaxExt" value="<%= company.faxExtension %>"></div>

  <div><input type="text" name="companyEmail" value="<%= company.email %>"></div>
  <div><input type="text" name="companyWebsite" value="<%= company.website %>"></div>

  <% if (locations["showHq"] === false) { %>
    <div><input type="text" name="hqAddress1" value="<%= locations["company-isHq"].addressLine1 %>"></div>
    <div><input type="text" name="hqAddress2" value="<%= locations["company-isHq"].addressLine2 %>"></div>
    <div><input type="text" name="hqCountry" value="<%= locations["company-isHq"].country %>"></div>
    <div><input type="text" name="hqProvince" value="<%= locations["company-isHq"].province %>"></div>
    <div><input type="text" name="hqPostalCode" value="<%= locations["company-isHq"].postalCode %>"></div>
  <% } else { %>
    <% for (var x = 0; x < locations["company-notHq"].length; x++) { %>
      <div><input type="text" name="companyAddress1" value="<%= locations["company-notHq"][x].addressLine1 %>"></div>
      <div><input type="text" name="companyAddress2" value="<%= locations["company-notHq"][x].addressLine2 %>"></div>
      <div><input type="text" name="companyCountry" value="<%= locations["company-notHq"][x].country %>"></div>
      <div><input type="text" name="companyProvince" value="<%= locations["company-notHq"][x].province %>"></div>
      <div><input type="text" name="companyPostalCode" value="<%= locations["company-notHq"][x].postalCode %>"></div>
    <% } %>
  <% } %>

  <% if (locations["showHq"] === false) { %>
    <div><input id="hq" type="checkbox" name="companyIsHq" checked>Location is HQ?</div>
  <% } %>
  <% if (locations["showHq"] === true) { %>
    <div><input id="hq" type="checkbox" name="companyIsHq">Location is HQ?</div>
  <% } %>

  <% if (locations["showHq"] === true) { %>
    <div><input type="text" name="hqAddress1" value="<%= locations["company-isHq"].addressLine1 %>"></div>
    <div><input type="text" name="hqAddress2" value="<%= locations["company-isHq"].addressLine2 %>"></div>
    <div><input type="text" name="hqCountry" value="<%= locations["company-isHq"].country %>"></div>
    <div><input type="text" name="hqProvince" value="<%= locations["company-isHq"].province %>"></div>
    <div><input type="text" name="hqPostalCode" value="<%= locations["company-isHq"].postalCode %>"></div>
  <% } %>

  <h4>Industry, Employee #, Handle</h4>
  <div class="styledSelect breakForm">
  <select name="companyIndustry">
    <option value="<%= company.industry %>" selected="selected"><%= company.industry %></option>
    <%- partial('../partials/edit-dropdowns/edit-industry') %>
  </select>
  </div>

  <div>
    <select name="employeeCount">
      <option value="<%= company.employeeCount %>" selected="selected"><%= company.employeeCount %></option>
      <%- partial('../partials/edit-dropdowns/edit-total-employees') %>
    </select>
  </div>

  <div><input type="text" name="companyUrl" value="<%= company.handle %>"></div>
</section>