<form action="/buyer/update" method="post" enctype="multipart/form-data">
  <%- partial('_update_company') %>

  <h2>Buyer Info</h2>
  <section id="updateBuyerForm">
    <div><input type="text" name="dbaName" value="<%= buyer.dbaName %>"></div>
    <!-- remove this later -->
    <% if (buyer.logoUrl) { %>
      <h4>Current Logo</h4>
      <div><img src="<%= buyer.logoUrl %>" /></div>
    <% } %>
    <!-- remove this later -->
    <h4>Logo</h4><div><input type="file" name="logoUrl"></div>
    <div>
      <select name="language">
        <%- partial('../partials/dropdowns/language') %>
      </select>
    </div>

    <h4>Other Locations</h4>
    <% for (var x = 0; x < locations["buyer-notPort"].length; x++) { %>
    <section id="otherLocation1">
      <div><input type="text" name="otherLocation1Name" placeholder="Name" value="<%= locations["buyer-notPort"][x].title %>"></div>
      <div>
        <select name="type">
          <%- partial('../partials/dropdowns/other-location-type') %>
        </select>
      </div>
      <div><input type="text" name="otherLocation1City" placeholder="City" value="<%= locations["buyer-notPort"][x].city %>"></div>
      <div>
        <select name="province">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div>
        <select name="country">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </section>
    <% } %>

    <h4>Port location</h4>
    <% for (var x = 0; x < locations["buyer-isPort"].length; x++) { %>
    <section id="nearestPort">
      <div><input type="text" name="nearestPortCity" placeholder="City" value="<%= buyer.portCity %>"></div>
      <div><input type="text" name="nearestPortProvince" placeholder="State / Province" value="<%= buyer.portProvince %>"></div>
      <div><input type="text" name="nearestPortCountry" placeholder="Country" value="<%= buyer.portCountry %>"></div>
    </section>
    <% } %>

    <h4>Preferred Supplier Type</h4>
    <section id="preferredSupplierType">
      <select name="preferredSupplierType">
        <%- partial('../partials/dropdowns/pref-supplier-type') %>
      </select>
    </section>

    <h4>Preferred Suppplier Languages</h4>
    <section id="preferredSupplierLanguage1">
      <select name="preferredSupplierLanguage1">
        <%- partial('../partials/dropdowns/pref-supplier-language') %>
      </select>
    </section>

    <section id="preferredSupplierLanguage2">
      <select name="preferredSupplierLanguage2">
        <%- partial('../partials/dropdowns/pref-supplier-language') %>
      </select>
    </section>

    <section id="preferredSupplierLanguage3">
      <select name="preferredSupplierLanguage3">
        <%- partial('../partials/dropdowns/pref-supplier-language') %>
      </select>
    </section>

    <h4>Preferred Supplier Locations</h4>
    <section id="preferredSupplierLocation1">
      <select name="preferredSupplierLocation1Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredSupplierLocation2">
      <select name="preferredSupplierLocation2Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredSupplierLocation3">
      <select name="preferredSupplierLocation3Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Type of Company</h4>
    <section id="typeOfCompany">
      <select name="typeOfCompany">
        <%- partial('../partials/dropdowns/buyer-type') %>
      </select>
    </section>

    <h4>Accepted Delivery Terms</h4>
    <section id="acceptedDeliveryTerms">
      <div class="row breakForm">
        <div class="col-sm-6">
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="EXW"><div class="checkboxtext">EXW</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="FCA"><div class="checkboxtext">FCA</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="CPT"><div class="checkboxtext">CPT</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="CIP"><div class="checkboxtext">CIP</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="DAT"><div class="checkboxtext">DAT</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="DAP"><div class="checkboxtext">DAP</div><br>
        </div>
        <div class="col-sm-6">
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="DDP"><div class="checkboxtext">DDP</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="FAS"><div class="checkboxtext">FAS</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="FOB"><div class="checkboxtext">FOB</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="CFR"><div class="checkboxtext">CFR</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="CIF"><div class="checkboxtext">CIF</div><br>
          <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="Custom"><div class="checkboxtext">Custom</div><br>
        </div>
      </div>
    </section>

    <h4>Accepted Currencies</h4>
    <section id="acceptedCurrencies">
      <div class="row breakForm">
        <div class="col-sm-6">
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="USD"><div class="checkboxtext">USD</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="EUR"><div class="checkboxtext">EUR</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="JPY"><div class="checkboxtext">JPY</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="GBP"><div class="checkboxtext">GBP</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="AUD"><div class="checkboxtext">AUD</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="CHF"><div class="checkboxtext">CHF</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="CAD"><div class="checkboxtext">CAD</div><br>
        </div>
        <div class="col-sm-6">
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="MXN"><div class="checkboxtext">MXN</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="CNY"><div class="checkboxtext">CNY</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="NZD"><div class="checkboxtext">NZD</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="SEK"><div class="checkboxtext">SEK</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="RUB"><div class="checkboxtext">RUB</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="HKD"><div class="checkboxtext">HKD</div><br>
          <input class="checkbox" type="checkbox" name="acceptedCurrency" value="SGD"><div class="checkboxtext">SGD</div><br>
        </div>
      </div>
    </section>

    <h4>Accepted Payment Terms</h4>
    <section id="acceptedPaymentTerms">
      <div class="row breakForm">
        <div class="col-sm-6">
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="MoneyGram"><div class="checkboxtext">MoneyGram</div><br>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="Western Union"><div class="checkboxtext">Western Union</div><br>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="T/T"><div class="checkboxtext">T/T</div><br>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="Credit Card"><div class="checkboxtext">Credit Card</div><br>
        </div>
        <div class="col-sm-6">
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="Escrow"><div class="checkboxtext">Escrow</div><br>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="PayPal"><div class="checkboxtext">PayPal</div><br>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="D/P D/A"><div class="checkboxtext">D/P D/A</div><br>
          <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="Cash"><div class="checkboxtext">Cash</div><br>
        </div>
      </div>
    </section>

    <div><input type="text" placeholder="facebook" name="facebook" value="<%= buyer.facebook %>"></div>
    <div><input type="text" placeholder="twitter" name="twitter" value="<%= buyer.twitter %>"></div>
    <div><input type="text" placeholder="pinterest" name="pinterest" value="<%= buyer.pinterest %>"></div>
    <div><input type="text" placeholder="tumblr" name="tumblr" value="<%= buyer.tumblr %>"></div>
    <div><input type="text" placeholder="linkedin" name="linkedin" value="<%= buyer.linkedin %>"></div>
    <div><input type="text" placeholder="instagram" name="instagram" value="<%= buyer.instagram %>"></div>
    <div><input type="text" placeholder="google" name="google" value="<%= buyer.google %>"></div>

    <div><input type="text" placeholder="dunsNumber" name="dunsNumber" value="<%= buyer.dunsNumber %>"></div>
    <div><input type="text" placeholder="contactName" name="contactName" value="<%= buyer.contactName %>"></div>
    <div><input type="text" placeholder="contactPosition" name="contactPosition" value="<%= buyer.contactPosition %>"></div>
    <div><input type="text" placeholder="contactEmail" name="contactEmail" value="<%= buyer.contactEmail %>"></div>

    <h4>Company Description</h4>
    <textarea name="companyDescription" placeholder="Tell us about your business..."
              rows="4" cols="50"><%= buyer.companyDescription %>
    </textarea>

    <h4>Environmental Sustainability</h4>
    <textarea name="environmentalSustainability" placeholder=""
              rows="4" cols="50"><%= buyer.environmentalSustainability %>
    </textarea>

    <h4>Quality Sourcing</h4>
    <textarea name="qualitySourcing" placeholder=""
              rows="4" cols="50"><%= buyer.qualitySourcing %>
    </textarea>

    <h4>Workplace Safety</h4>
    <textarea name="workplaceSafety" placeholder=""
              rows="4" cols="50"><%= buyer.workplaceSafety %>
    </textarea>

    <h4>Labor, Education, and Training</h4>
    <textarea name="laborEducationTraining" placeholder=""
              rows="4" cols="50"><%= buyer.laborEducationTraining %>
    </textarea>

    <h4>Reinvestment</h4>
    <textarea name="reinvestment" placeholder=""
              rows="4" cols="50"><%= buyer.reinvestment %>
    </textarea>

    <h4>Your Products of Interest</h4>
    <textarea name="productsOfInterest" placeholder=""
              rows="4" cols="50"><%= buyer.productsOfInterest %>
    </textarea>

    
    <div><input type="submit"></div>
  </section>
</form>