<div class="container profile-container">
  <div class="col-sm-12 col-md-4">
    <% if (buyer.logoUrl) { %>
      <img src="<%= buyer.logoUrl %>">
    <% } else { %>
      <!-- ADD PLACEHOLDER IMAGE HERE -->
      <img src="/images/profile-logo.png" id="default-logo">
    <% } %>
    <div class="company-header">
      <h2>
        <span>Buyer Profile </span>
        <% if (company.supplier === true ) { %>&middot;<span><a href="/companies/<%= company.handle %>/supplier"> View Supplier Profile</a></span><% } %>
      </h2>
      <h1><%if (company.name) { %><%= company.name %><% } %></h1>
    </div>

    <% if (locations["showHq"] === false) { %>
      <div class="company-info-box company-business-address">
        <h3><i class="fa fa-fw fa-map-marker"></i><span class="info-title">Official Business Address</span></h3>
        <% if(locations["company-isHq"].addressLine1 !== undefined){ %><p><%= locations["company-isHq"].addressLine1 %></p><% } %>
        <% if(locations["company-isHq"].addressLine2 !== undefined){ %><p><%= locations["company-isHq"].addressLine2 %></p><% } %>
        <% if(locations["company-isHq"].city !== undefined){ %><p><%= locations["company-isHq"].city %></p><% } %>
        <% if(locations["company-isHq"].province !== undefined){ %><p><%= locations["company-isHq"].province %></p><% } %>
        <% if(locations["company-isHq"].country !== undefined){ %><p><%= locations["company-isHq"].country %><% } %>
      </div>
    <% } else { %>
      <div class="company-info-box company-business-address">
        <h3><i class="fa fa-fw fa-map-marker"></i><span class="info-title">Official Business Address</span></h3>
        <% if(locations["company-notHq"].addressLine1 !== undefined){ %><p><%= locations["company-notHq"][0].addressLine1 %></p><% } %>
        <% if(locations["company-notHq"].addressLine2 !== undefined){ %><p><%= locations["company-notHq"][0].addressLine2 %></p><% } %>
        <% if(locations["company-notHq"].city !== undefined){ %><p><%= locations["company-notHq"].city %></p><% } %>
        <% if(locations["company-notHq"].province !== undefined){ %><p><%= locations["company-notHq"].province %></p><% } %>
        <% if(locations["company-notHq"].country !== undefined){ %><p><%= locations["company-notHq"][0].country %></p><% } %>
      </div>
      <div class="company-info-box">
        <h3><i class="fa fa-fw fa-globe"></i><span class="info-title">Headquarters</span></h3>
        <% if(locations["company-isHq"].addressLine1 !== undefined){ %><p><%= locations["company-isHq"].addressLine1 %></p><% } %>
        <% if(locations["company-isHq"].addressLine2 !== undefined){ %><p><%= locations["company-isHq"].addressLine2 %></p><% } %>
        <% if(locations["company-isHq"].city !== undefined){ %><p><%= locations["company-isHq"].city %></p><% } %>
        <% if(locations["company-isHq"].province !== undefined){ %><p><%= locations["company-isHq"].province %></p><% } %>
        <% if(locations["company-isHq"].country !== undefined){ %><p><%= locations["company-isHq"].country %></p><% } %>
      </div>
    <% } %>

    <div class="company-info-box">
      <h3><i class="fa fa-fw fa-phone"></i><span class="info-title">Company Phone &amp; Fax</span></h3>
      <p><% if(company.phoneNumberCountryCode && company.phoneNumber) { %>Telephone: +<%= company.phoneNumberCountryCode %> <%= company.phoneNumber %> <% if (company.phoneExtension) { %> Ext: <%company.phoneExtension %><% } } %></p>
      <p><% if(company.faxCountryCode && company.faxNumber) { %>Fax: +<%= company.faxCountryCode%> <%= company.faxNumber %><% if(company.faxExtension) { %>Ext: <%= company.faxExtension %><% } } %></p>
    </div>

    <div class="company-info-box">
      <h3><i class="fa fa-fw fa-location-arrow"></i><span class="info-title">Company Email Address</span></h3>
      <% if(company.email) { %><p><%= company.email %></p><% } %>
    </div>

    <div class="company-info-box">
      <h3><i class="fa fa-fw fa-location-arrow"></i><span class="info-title">Company Website</span></h3>
      <p><% if(company.website) { %><a href="<%= company.website %>" target="_blank"><%= company.website %></a><% } %></p>
    </div>

    <div class="company-detail-box">
      <h3><span>Product Categories</span></h3>
      <p><%= buyer.viewCategoryList %></p>
    </div>

    <div class="company-two-col-box">
      <h3><span>Buyer Details</span></h3>
      <div class="company-col-left">
        <div class="company-col-detail">
          <p class="detail-header">Type of Company</p>
          <p class="detail-body">Buyer</p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Total # of Employees</p>
          <p class="detail-body"><% if (company.employeeCount) { %><%= company.employeeCount %><% } %></p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Industry</p>
          <p class="detail-body"><% if (company.industry) { %><%= company.industry %><% } %></p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">Languages</p>
          <p class="detail-body">
            <% buyer["language"].forEach(function(language) { %>
              <%= language %>
            <% }) %>
          </p>
        </div>
        <div class="company-col-detail">
          <p class="detail-header">DUNS Number</p>
          <p class="detail-body"><% if (buyer.dunsNumber) { %><%= buyer.dunsNumber %><% }%></p>
        </div>
      </div><!-- END LEFT DETAIL COLUMN -->
      <div class="company-col-right">
        <div class="company-col-detail">
          <p class="detail-header">Links</p>
          <p class="detail-body"><% if (company.website) { %><a href="<%= company.website %>" target="_blank">Our Website</a><% } %></p>
        </div>
      </div><!-- END RIGHT DETAIL COLUMN -->
      <div class="company-col-clear"></div>
    </div>

  </div><!-- END LEFT COLUMN -->

  <div class="col-sm-12 col-md-7 col-lg-8 pull-right">
    <div class="profile-nav">
      <ul>
        <div class="nav-left">
          <li>About</li>
        </div>
        <div class="nav-right">
          <li><a id="company-description">Company Description</a></li>
          <li><a id="products-of-interest">Products of Interest</a></li>
          
          <% if (buyer.showSORTab === true) { %><li><a id="statements-of-responsibility">Statements of Responsibility</a></li><% } %>
          
        </div>
      </ul>
    </div>
    <div id="profile-content">
      <% if (buyer.companyDescription !== undefined && buyer.productDescription !=="") { %>
        <div class="content-desc"><%= buyer.companyDescription %></div>
      <% } else { %>
        <div class="content-desc hint">Add Company Description in <a href="/company/update">Edit Company Profile > Descriptions</a>.</div>
      <% } %>
      <% if (buyer.productDescription !== undefined && buyer.productDescription !=="") { %>
        <div class="content-interest" id="inactive"><%= buyer.productDescription %></div>
      <% } else { %>
        <div class="content-interest hint" id="inactive">Add Products of Interest in <a href="/company/update">Edit Company Profile > Descriptions</a></div>
      <% } %>

      <% if (buyer.showSORTab === true) {         <div class="content-statement" id="inactive">

      <% if (buyer.showSORTab === true) { %>
        <div class="content-statement" id="inactive">
          <div class="content-statement" id="inactive">
          <% var sorKeys = Object.keys(buyer["sorViewFields"]); %>
          <% for (var x = 0; x < sorKeys.length; x++) { %>
            <% if (buyer[sorKeys[x]] !== undefined && buyer[sorKeys[x]] != "") { %>
              <h4><%= buyer.sorViewFields[sorKeys[x]]  %></h4>
              <pre><%= buyer[sorKeys[x]] %></pre>
            <% } %>
          <% } %>
        </div>
        </div>
      <% } %> 
    </div>
  </div><!-- END RIGHT COLUMN -->
</div>
