<div id="regWizard">    
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Complete Your Registration</h1>
      </div>
      <form action="/supplier/create" method="post" enctype="multipart/form-data">
        <div class="col-sm-6 col-sm-offset-3 topBox">
          <h1>Your Supplier Profile</h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3 fieldBox">
          <section class="supplierWizard">
            <div class="row">
              <div class="col-sm-6">
                <h4>Logo Image</h4>
                <div><input class="breakForm" type="file" name="logoUrl"></div>
                <h4>DBA (Doing Business As) Name</h4>
                <div><input class="breakForm" type="text" name="dba" placeholder="Alternate Company Name"></div>
                
                <h4>Type of Company*</h4>
                <section id="typeOfCompany">
                  <div class="styledSelect breakForm">
                    <select name="typeOfCompany">
                      <%- partial('../partials/dropdowns/supplier-type') %>
                    </select>
                  </div>
                </section>

                <h4>Language(s)*</h4>
                <div class="styledSelect">
                  <select name="language1">
                    <%- partial('../partials/dropdowns/language') %>
                  </select>
                </div>
                <div class="styledSelect breakForm">
                  <select name="language2">
                    <%- partial('../partials/dropdowns/language') %>
                  </select>
                </div>

                <h4>Nearest Port City*</h4>
                <section id="nearestPort">
                  <div><input type="text" name="nearestPortCity" placeholder="City"></div>
                  <div><input type="text" name="nearestPortProvince" placeholder="State / Province"></div>
                  <div><input class="breakForm" type="text" name="nearestPortCountry" placeholder="Country"></div>
                </section>

                <h4>Other Locations</h4>
                <section id="otherLocation1">
                  <div><input type="text" name="otherLocation1Name" placeholder="Location Title"></div>
                  <div class="styledSelect">
                    <select name="type">
                      <%- partial('../partials/dropdowns/other-location-type') %>
                    </select>
                  </div>
                  <div class="styledSelect">
                    <select name="country">
                      <option value="1">Select Country</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                  <div class="styledSelect">
                    <select name="province">
                      <option value="1">Select State/Province</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                  <div><input type="text" name="otherLocation1City" placeholder="City"></div>
                </section>



                <!--<section id="otherLocation2">
                  <div><input type="text" name="otherLocation2Name" placeholder="Name"></div>
                  <div><input type="text" name="otherLocation2Type" placeholder="Type"></div>
                  <div><input type="text" name="otherLocation2City" placeholder="City"></div>
                  <div><input type="text" name="otherLocation2Province" placeholder="State / Province"></div>
                  <div><input type="text" name="otherLocation2Country" placeholder="Country"></div>
                </section>

                <section id="otherLocation3">
                  <div><input type="text" name="otherLocation3Name" placeholder="Name"></div>
                  <div><input type="text" name="otherLocation3Type" placeholder="Type"></div>
                  <div><input type="text" name="otherLocation3City" placeholder="City"></div>
                  <div><input type="text" name="otherLocation3Province" placeholder="State / Province"></div>
                  <div><input type="text" name="otherLocation3Country" placeholder="Country"></div>
                </section>-->

                
              </div>
              <div class="col-sm-6">
                
                <h4>Annual Sales Value*</h4>
                <!-- 
                /////////////////////////////////////

                annualProductionVolume == annualSalesValue

                ///////////////////////////////////// 
                -->
                <section id="annualProductionVolume">
                  <div class="styledSelect breakForm">
                    <select name="annualProductionVolume">
                      <option value="1">1</option>
                    </select>
                  </div>
                </section>

                <h4>Contract Manufacturing</h4>
                <section id="privateLabeler" class="breakForm">
                  <input class="checkbox"type="checkbox" name="privateLabeler" value="privateLabeler"><div class="checkboxtext">Private Labeling</div><br>
                </section>


                <h4>Accepted Delivery Terms</h4>
                <section id="acceptedDeliveryTerms">
                  <div class="row breakForm">
                    <div class="col-sm-6">
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="EXW"><div class="checkboxtext">EXW</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="FCA"><div class="checkboxtext">FCA</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="CPT"><div class="checkboxtext">CPT</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="CIP"><div class="checkboxtext">CIP</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="DAT"><div class="checkboxtext">DAT</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="DAP"><div class="checkboxtext">DAP</div><br>
                    </div>
                    <div class="col-sm-6">
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="DDP"><div class="checkboxtext">DDP</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="FAS"><div class="checkboxtext">FAS</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="FOB"><div class="checkboxtext">FOB</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="CFR"><div class="checkboxtext">CFR</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="CIF"><div class="checkboxtext">CIF</div><br>
                      <input class="checkbox" type="checkbox" name="deliveryTerms" value="Custom"><div class="checkboxtext">Custom</div><br>
                    </div>
                  </div>
                </section>

                <h4>Accepted Currencies</h4>
                <section id="acceptedCurrencies">
                  <div class="row breakForm">
                    <div class="col-sm-6">
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="USD"><div class="checkboxtext">USD</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="EUR"><div class="checkboxtext">EUR</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="JPY"><div class="checkboxtext">JPY</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="GBP"><div class="checkboxtext">GBP</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="AUD"><div class="checkboxtext">AUD</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="CHF"><div class="checkboxtext">CHF</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="CAD"><div class="checkboxtext">CAD</div><br>
                    </div>
                    <div class="col-sm-6">
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="MXN"><div class="checkboxtext">MXN</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="CNY"><div class="checkboxtext">CNY</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="NZD"><div class="checkboxtext">NZD</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="SEK"><div class="checkboxtext">SEK</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="RUB"><div class="checkboxtext">RUB</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="HKD"><div class="checkboxtext">HKD</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedCurrencies" value="SGD"><div class="checkboxtext">SGD</div><br>
                    </div>
                  </div>
                </section>

                <h4>Accepted Payment Terms</h4>
                <section id="acceptedPaymentTerms">
                  <div class="row breakForm">
                    <div class="col-sm-6">
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="MoneyGram"><div class="checkboxtext">MoneyGram</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="Western Union"><div class="checkboxtext">Western Union</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="T/T"><div class="checkboxtext">T/T</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="Credit Card"><div class="checkboxtext">Credit Card</div><br>
                    </div>
                    <div class="col-sm-6">
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="Escrow"><div class="checkboxtext">Escrow</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="PayPal"><div class="checkboxtext">PayPal</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="D/P D/A"><div class="checkboxtext">D/P D/A</div><br>
                      <input class="checkbox" type="checkbox" name="acceptedPayment" value="Cash"><div class="checkboxtext">Cash</div><br>
                    </div>
                  </div>
                </section>

                <h4>Your Buyer Preferences</h4>
                <section id="preferredBuyerType" class="styledSelect">
                  <select name="preferredBuyerType">
                    <%- partial('../partials/dropdowns/pref-buyer-type') %>
                  </select>
                </section>
                <section id="preferredBuyerLocation1" class="styledSelect">
                  <select name="preferredBuyerLocation1Country">
                    <option value="1">Preferred Buyer Location</option>
                    <option value="2">2</option>
                  </select>
                </section>
                <section id="preferredBuyerLanguage1" class="styledSelect">
                  <select name="preferredBuyerLanguage1">
                    <%- partial('../partials/dropdowns/pref-buyer-language') %>
                  </select>
                </section>

                
                
              </div>
            </div>
          </section>
        </div>
        <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div><button class="continueButton" type="submit">Continue&nbsp;&nbsp; <i class="fa fa-arrow-right"></i></button></div>
                    </div>
                </div>
      </form>
<!--
<h1>Supplier Wizard</h1>

<section class="supplierWizard">
  <form action="/supplier/create" method="post" enctype="multipart/form-data">
    <h4>DBA</h4>
    <div><input type="text" name="dbaName" placeholder="Alternate Company Name"></div>

    <h4>Logo</h4>
    <div><input type="file" name="logoUrl" accept="image/*"/>Company Logo</div>

    <h4>Languages</h4>
    <div>
      <select name="language1">
        <option value="arabic">Arabic</option>
        <option value="bengali">Bengali</option>
      </select>
      <select name="language2">
        <option value="arabic">Arabic</option>
        <option value="bengali">Bengali</option>
      </select>
-->
    </div>
  </div>
</div>















<!--
<div><select name="language"><option value="English">English</option></select></div>
<div><select name="type"><option value="">Select a Type</option></select></div>
<div><input type="text" name="city" placeholder="City"></div>
<div><input type="text" name="province" placeholder="State/Province"></div>
<div><input type="text" name="country" placeholder="Country"></div>
<div><input type="text" name="portCity" placeholder="City"></div>
<div><input type="text" name="portProvince" placeholder="State/Province"></div>
<div><input type="text" name="portCountry" placeholder="Country"></div>
<div><select name="salesValue"><option value="">Sales Value</option></select></div>
<div><input type="text" name="productSpeciality" placeholder="Select a Speciality"></div>
<div><select name="preferredBuyerType"><option value="">Select a Type</option></select></div>
<div><select name="preferredBuyerLanguage"><option value="">Select a Language</option></select></div>
<div><select name="preferredBuyerCountry"><option value="">Country</option></select></div>
<div><input type="checkbox" name="acceptedDeliveryTerms"> Accepted Delivery Terms<div>
<div><input type="checkbox" name="acceptedCurrency"> Accepted Currency<div>
<div><input type="checkbox" name="acceptedPaymentTerms"> Accepted Payment Terms<div>
<div><select name="typeOfCompany"><option value="">Select a Type</option></select></div>
<div><input type="checkbox" name="privateLabeler"> Private Labeler<div>

-->
<!--
    <h4>Other Locations</h4>
    <section id="otherLocation1">
      <div><input type="text" name="otherLocation1Name" placeholder="Name"></div>
      <div>
        <select name="type">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div><input type="text" name="otherLocation1City" placeholder="City"></div>
      <div>
        <select name="province">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div>
        <select name="country">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </section>

    <!--<section id="otherLocation2">
      <div><input type="text" name="otherLocation2Name" placeholder="Name"></div>
      <div><input type="text" name="otherLocation2Type" placeholder="Type"></div>
      <div><input type="text" name="otherLocation2City" placeholder="City"></div>
      <div><input type="text" name="otherLocation2Province" placeholder="State / Province"></div>
      <div><input type="text" name="otherLocation2Country" placeholder="Country"></div>
    </section>

    <section id="otherLocation3">
      <div><input type="text" name="otherLocation3Name" placeholder="Name"></div>
      <div><input type="text" name="otherLocation3Type" placeholder="Type"></div>
      <div><input type="text" name="otherLocation3City" placeholder="City"></div>
      <div><input type="text" name="otherLocation3Province" placeholder="State / Province"></div>
      <div><input type="text" name="otherLocation3Country" placeholder="Country"></div>
    </section>-->
<!--
    <h4>Port location</h4>
    <section id="nearestPort">
      <div><input type="text" name="nearestPortCity" placeholder="City"></div>
      <div><input type="text" name="nearestPortProvince" placeholder="State / Province"></div>
      <div><input type="text" name="nearestPortCountry" placeholder="Country"></div>
    </section>

    <h4>Annual Sales Value</h4>
    <section id="annualSalesValue">
      <div>
        <select name="annualSalesValue">
          <option value="1">1</option>
        </select>
      </div>
    </section>

    <h4>Primary Product Specialty</h4>
    <section id="primaryProductSpeciality1">
      <select name="primaryProductSpeciality1">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="primaryProductSpeciality2">
      <select name="primaryProductSpeciality2">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Preferred Buyer Type</h4>
    <section id="preferredBuyerType">
      <select name="preferredBuyerType">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Preferred Buyer Languages</h4>
    <section id="preferredBuyerLanguage1">
      <select name="preferredBuyerLanguage1">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="preferredBuyerLanguage2">
      <select name="preferredBuyerLanguage2">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <section id="preferredBuyerLanguage3">
      <select name="preferredBuyerLanguage3">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Preferred Buyer Locations</h4>
    <section id="preferredBuyerLocation1">
      <select name="preferredBuyerLocation1Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredBuyerLocation2">
      <select name="preferredBuyerLocation2Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>
    <section id="preferredBuyerLocation3">
      <select name="preferredBuyerLocation3Country">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </section>

    <h4>Accepted Delivery Terms</h4>
    <section id="acceptedDeliveryTerms">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Accepted Currencies</h4>
    <section id="acceptedCurrency">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Accepted Payment Terms</h4>
    <section id="acceptedPaymentTerms">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <h4>Type of Company</h4>
    <section id="typeOfCompany">
      <select name="typeOfCompany">
        <option value="">Select a type</option>
      </select>
    </section>

    <h4>Private Labeler</h4>
    <section id="privateLabeler">
      <input type="checkbox" name="vehicle" value="1">1<br>
      <input type="checkbox" name="vehicle" value="2">2<br>
      <input type="checkbox" name="vehicle" value="3">3<br>
      <input type="checkbox" name="vehicle" value="4">4<br>
    </section>

    <div><input type="submit"></div>
  </form>
</section>
-->

