<%- partial('../partials/dashboard-header.ejs') %>
<div class="container" id="companyUpdate">
    <script>
        $(document).ready(function() {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
            var area = " | Update Company Profile";
            var first = $("#siteTitle").text();
            $("#siteTitle").text(first + area);
        });
    </script>
    <script src="../../assets/countries.js">
        print_country("preferredSupplierLocation");
    </script>

    <style>
        .ui-tabs-vertical ul { margin: 0px; padding-left: 0px !important;}
        .ui-tabs-vertical .ui-tabs-nav li { list-style: none; margin: 0px; padding: 0px;}
        .ui-tabs-vertical .ui-tabs-nav li .rightSecBox { margin-right: 10px;}
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; margin-left: 20px; padding-left: 20px;}
        .ui-tabs-vertical .ui-tabs-nav li a:focus { outline: none; border: 0px none; background: none transparent;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec { background: #fbac27; color: white;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec a { color: white;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSecBox { background: #ffc65c;}
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec i { color: white;}
    </style>

    <div class="row ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix" id="tabs">
      <div class="col-sm-4">
        <% if(user.activeMode == 'buyer') { %>   
          <h3>Edit Buyer Profile</h3>
        <% } %>
        <% if(user.activeMode == 'supplier') { %>   
          <h3>Edit Supplier Profile</h3>
        <% } %>
        <div class="featuresColumn">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec">
              <div class="rightSecBox">
                <i class="fa fa-gear fa-fw"></i>
              </div>
              <a href="#companyDetails">COMPANY DETAILS</a>
          </div>
          </li>
          <% if(user.activeMode == 'buyer') { %>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec rightAlt">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#buyerInformation">BUYER INFORMATION</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#descriptionsBuyer">DESCRIPTIONS</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec rightAlt">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#preferencesBuyer">PREFERENCES</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#socialOutletsBuyer">SOCIAL MEDIA</a>
          </div>
          </li>
        <% } %>
        <% if(user.activeMode == 'supplier') { %>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec rightAlt">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#supplierInformation">SUPPLIER INFORMATION</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#productionDetails">PRODUCTION DETAILS</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec rightAlt">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#descriptionsSupplier">DESCRIPTIONS</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#preferencesSupplier">PREFERENCES</a>
          </div>
          </li>
          <li class="ui-state-default ui-corner-left">
          <div class="rightSec rightAlt">
            <div class="rightSecBox">
              <i class="fa fa-gear fa-fw"></i>
            </div>
            <a href="#socialOutletsSupplier">SOCIAL MEDIA</a>
          </div>
          </li>
          </ul>
        <% } %>
        </div> <!-- END FEATURES COLUMN -->
        <div id="username">
          <h3>Your Company Username</h3>
          <p>procur.com/companies/<strong><%= company.handle %>  </strong><a href="#">Edit</a></p>
        </div>
      </div> <!-- END COL-SM-4 -->
      <div class="col-sm-8">
        <div id="companyDetails">
          <h4>Basic Company Details</h4>
            <div class="formWrapper">
              <form action="/company/update/basicCompanyDetails" method="post" id="companyDetailsForm">
                <div class="row">
                  <div class="col-sm-6">
                    <h5>Company Name</h5>
                    <div><input type="text" name="name" <% if(company.name !== undefined) { %>value="<%= company.name %>"<% } else { %> placeholder="Company Name" <% } %>></div><br/>
                    <h5>Company Phone</h5>
                    <div class="row insideForm">
                      <div class="col-sm-5 inputColumnL">
                          <div><input type="text" name="phoneNumberCountryCode" <% if(company.phoneNumberCountryCode !== undefined) { %>value="<%= company.phoneNumberCountryCode %>"<% } else { %> placeholder="Country Code" <% } %>></div>
                      </div>
                      <div class="col-sm-7 inputColumnR">
                          <div><input type="text" name="phoneNumber" <% if(company.phoneNumber !== undefined) { %>value="<%= company.phoneNumber %>"<% } else { %> placeholder="Phone Number" <% } %>></div>
                      </div>
                    </div>
                    <div class="row insideForm">
                      <div class="col-sm-7 col-sm-offset-5 inputColumnR">
                          <div class="breakForm"><input type="text" name="phoneExtension" <% if(company.phoneExtension !== undefined) { %>value="<%= company.phoneExtension %>"<% } else { %> placeholder="Extension" <% } %>></div>
                      </div>
                    </div>

                    <h5>Company Fax</h5>
                    <div class="row insideForm">
                      <div class="col-sm-5 inputColumnL">
                          <div><input type="text" name="faxCountryCode" <% if(company.faxCountryCode !== undefined) { %>value="<%= company.faxCountryCode %>"<% } else { %> placeholder="Country Code" <% } %>></div>
                      </div>
                      <div class="col-sm-7 inputColumnR">
                          <div><input type="text" name="faxNumber" <% if(company.faxNumber !== undefined) { %>value="<%= company.faxNumber %>"<% } else { %> placeholder="Fax Number" <% } %>></div>
                      </div>
                    </div>
                    <div class="row insideForm">
                      <div class="col-sm-7 col-sm-offset-5 inputColumnR">
                          <div class="breakForm"><input type="text" name="faxExtension" value="<%= company.faxExtension %>"></div>
                      </div>
                    </div>

                    <h5>Company Email</h5>
                    <div><input type="text" name="email" value="<%= company.email %>"></div><br/>
                    <h5>Company Website</h5>
                    <div><input type="text" name="website" value="<%= company.website %>"></div><br/>
                  </div>
                  <!-- End 1st Column -->
                  <div class="col-sm-6">
                    
                    <h5>Company Industry</h5>
                    <div><select name="companyIndustry">
                      <option value="<%= company.industry %>" selected="selected"><%= company.industry %></option>
                      <%- partial('../partials/edit-dropdowns/edit-industry') %>
                    </select></div><br/>
                    <h5>Official Address</h5>
                    <div><input type="text" name="hqAddressLine1" value="<%= companyHq.addressLine1 %>"></div>
                    <div><input type="text" name="hqAddressLine2" value="<%= companyHq.addressLine2 %>"></div>
                    <div><input type="text" name="hqCountry" value="<%= companyHq.country %>"></div>
                    <div><input type="text" name="hqProvince" value="<%= companyHq.province %>"></div>
                    <div><input type="text" name="hqPostalCode" value="<%= companyHq.postalCode %>"></div>
                    <br />
                    <h5>Total Number of Employees</h5>
                    <div>
                      <select name="employeeCount">
                          <option value="<%= company.employeeCount %>" selected="selected"><%= company.employeeCount %></option>
                          <%- partial('../partials/edit-dropdowns/edit-total-employees') %>
                      </select>
                    </div>
                  </div>
                  <!-- End 2nd Column -->
                <div><input type="submit"></div>
                </div>
              </form>
            </div>
        </div>

        <!-- ACTIVE MODE BUYER  -->
        <% if (user.activeMode == 'buyer') { %>
            <div id="buyerInformation">
              <h4>Buyer Information</h4>
                <div class="formWrapper">
                  <div><img src="<%= buyer.logoUrl %>"></div>
                  <form id="buyerLogoForm" action="/buyer/update/logo" method="post" enctype="multipart/form-data">
                      <input type="file" name="logo" accept="image/*"/>
                      <input type="submit">
                  </form>
                  <br />
                  <form action="/buyer/update/information" method="post" id="buyerInformationForm">
                      <div><input type="text" name="dbaName" value="<%= buyer.dbaName %>"></div>

                      <select name="language">
                          <option value="<%= buyer.language %>" selected="selected"><%= buyer.language %></option>
                          <%- partial('../partials/edit-dropdowns/edit-language') %>
                      </select>
                      <div><input type="text" name="acceptedCurrency" <% if(buyer.acceptedCurrency !== undefined) { %>value="<%= buyer.acceptedCurrency %>"<% } else { %> placeholder="Accepted Currency" <% } %>></div>
                      <div><input type="text" name="acceptedPaymentTerms" <% if(buyer.acceptedPaymentTerms !== undefined) { %>value="<%= buyer.acceptedPaymentTerms %>"<% } else { %> placeholder="Accepted Payment Terms" <% } %>></div>
                      <div><input type="text" name="acceptedDeliveryTerms" <% if(buyer.acceptedDeliveryTerms !== undefined) { %>value="<%= buyer.acceptedDeliveryTerms %>"<% } else { %> placeholder="Accepted Delivery Terms" <% } %>></div>
                      <div><input type="text" name="typeOfCompany" <% if(buyer.typeOfCompany !== undefined) { %>value="<%= buyer.typeOfCompany %>"<% } else { %> placeholder="Type of Company" <% } %>></div>
                      <div><input type="text" name="contactName" <% if(buyer.contactName !== undefined) { %>value="<%= buyer.contactName %>"<% } else { %> placeholder="Contact Name" <% } %>></div>
                      <div><input type="text" name="contactPosition" <% if(buyer.contactPosition !== undefined) { %>value="<%= buyer.contactPosition %>"<% } else { %> placeholder="Contact Position" <% } %>></div>
                      <div><input type="text" name="contactEmail" <% if(buyer.contactEmail !== undefined) { %>value="<%= buyer.contactEmail %>"<% } else { %> placeholder="Contact Email" <% } %>></div>
                      <div><input type="text" name="dunsNumber" <% if(buyer.dunsNumber !== undefined) { %>value="<%= buyer.dunsNumber %>"<% } else { %> placeholder="DUNS Number" <% } %>></div>
                      <div>Product CATEGORIES</div>
                      <div>OTHER LOCATIONS</div>
                      <div>NEAREST PORT</div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
            <div id="descriptionsBuyer">
              <h4>Descriptions</h4>
                <div class="formWrapper">
                  <form action="/buyer/update/descriptions" method="post" id="buyerDescriptionsForm">
                      <div><input type="text" name="companyDescription" <% if(buyer.companyDescription !== undefined) { %>value="<%= buyer.companyDescription %>"<% } else { %> placeholder="Company Description" <% } %>></div>
                      <div><textarea name="environmentalSustainability" form="buyerDescriptionsForm" <% if(buyer.environmentalSustainability === undefined){ %> placeholder="Environmental Sustainability" <% } else{ %> ><%= buyer.environmentalSustainability %>  <% } %>></textarea></div>
                      <div><textarea name="qualitySourcing" form="buyerDescriptionsForm" <% if(buyer.qualitySourcing === undefined){ %> placeholder="Quality Sourcing" <% } else{ %> ><%= buyer.environmentalSustainability  %><% } %>></textarea></div>
                      <div><textarea name="workplaceSafety" form="buyerDescriptionsForm"<% if(buyer.workplaceSafety === undefined){ %> placeholder="Workplace Safety" <% } else{ %> ><%= buyer.workplaceSafety  %><% } %>></textarea></div>
                      <div><textarea name="laborEducationTraining" form="buyerDescriptionsForm"<% if(buyer.laborEducationTraining === undefined){ %> placeholder="Labor Education Training" <% } else{ %> ><%= buyer.laborEducationTraining  %><% } %>></textarea></div>
                      <div><textarea name="reinvestment" form="buyerDescriptionsForm"<% if(buyer.reinvestment === undefined){ %> placeholder="Reinvestment" <% } else{ %> ><%= buyer.reinvestment  %><% } %>></textarea></div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
            <div id="preferencesBuyer">
                <h4>Preferences</h4>
                <div class="formWrapper">
                  <form action="/buyer/update/preferences" method="post" id="buyerPreferencesForm">
                      <div><select name="preferredSupplierType">
                              <option value="<%= buyer.preferredSupplierType %>" selected="selected"><%= buyer.preferredSupplierType %></option>
                              <%- partial('../partials/edit-dropdowns/edit-pref-supplier-type') %>
                          </select></div>
                      <div><select name="preferredSupplierLanguage">
                              <option value="<%= buyer.preferredSupplierLanguage %>" selected="selected"><%= buyer.preferredSupplierLanguage %></option>
                              <%- partial('../partials/edit-dropdowns/edit-pref-supplier-language') %>
                          </select></div>
                      <div><select name="preferredSupplierLocation" id="preferredSupplierLocation">
                              <option>Preferred Supplier Location</option>
                          </select></div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
            <div id="socialOutletsBuyer">
                <h4>Social Outlets</h4>
                <div class="formWrapper">
                  <form action="/buyer/update/socialoutlets" method="post" id="buyerSocialOutletsForm">
                      <div><input type="text" name="facebook" <% if(buyer.facebook !== undefined) { %>value="<%= buyer.facebook %>"<% } else { %> placeholder="Facebook" <% } %>></div>
                      <div><input type="text" name="twitter" <% if(buyer.twitter !== undefined) { %>value="<%= buyer.twitter %>"<% } else { %> placeholder="Twitter" <% } %>></div>
                      <div><input type="text" name="google" <% if(buyer.google !== undefined) { %>value="<%= buyer.google %>"<% } else { %> placeholder="Google" <% } %>></div>
                      <div><input type="text" name="linkedin" <% if(buyer.linkedin !== undefined) { %>value="<%= buyer.linkedin %>"<% } else { %> placeholder="Linkedin" <% } %>></div>
                      <div><input type="text" name="pinterest" <% if(buyer.pinterest !== undefined) { %>value="<%= buyer.pinterest %>"<% } else { %> placeholder="Pinterest" <% } %>></div>
                      <div><input type="text" name="instagram" <% if(buyer.instagram !== undefined) { %>value="<%= buyer.instagram %>"<% } else { %> placeholder="Instagram" <% } %>></div>
                      <div><input type="text" name="tumblr" <% if(buyer.tumblr !== undefined) { %>value="<%= buyer.tumblr %>"<% } else { %> placeholder="Tumblr" <% } %>></div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
        <% } %>

        <!-- ACTIVE MODE SUPPLIER  -->
        <% if (user.activeMode == 'supplier') { %>
            <div id="supplierInformation">
                <h4>Supplier Information</h4>
                <div class="formWrapper">
                <div><img src="<%= supplier.logoUrl %>"></div>
                  <form id="supplierLogoForm" action="/supplier/update/logo" method="post" enctype="multipart/form-data">
                      <input type="file" name="logo" accept="image/*"/>
                      <input type="submit">
                  </form>
                  <br />
                  <form action="/supplier/update/information" method="post" id="supplierInformationForm">
                      <div><input type="text" name="dba" value="<%= supplier.dbaName %>"></div>
                      <select name="language">
                          <option value="<%= supplier.language %>" selected="selected"><%= supplier.language %></option>
                          <%- partial('../partials/edit-dropdowns/edit-language') %>
                      </select>
                      <div><input type="text" name="acceptedCurrencies" value="<%= supplier.acceptedCurrency[0] %>"></div>
                      <div><input type="text" name="acceptedPaymentTerms" value="<%= supplier.acceptedPaymentTerms %>"></div>
                      <div><input type="text" name="acceptedDeliveryTerms" <% if(supplier.acceptedDeliveryTerms !== undefined) { %>value="<%= supplier.acceptedDeliveryTerms %>"<% } else { %> placeholder="Accepted Delivery Terms" <% } %>></div>
                      <div><input type="text" name="typeOfCompany" <% if(supplier.typeOfCompany !== undefined) { %>value="<%= supplier.typeOfCompany %>"<% } else { %> placeholder="typeOfCompany" <% } %>></div>
                      <div><input type="text" name="privateLabeler" <% if(supplier.privateLabeler !== undefined) { %>value="<%= supplier.privateLabeler %>"<% } else { %> placeholder="Private Labeler" <% } %>></div>
                      <div><input type="text" name="contactName" <% if(supplier.contactName !== undefined) { %>value="<%= supplier.contactName %>"<% } else { %> placeholder="Contact Name" <% } %>></div>
                      <div><input type="text" name="contactPosition" <% if(supplier.contactPosition !== undefined) { %>value="<%= supplier.contactPosition %>"<% } else { %> placeholder="Contact Position" <% } %>></div>
                      <div><input type="text" name="contactEmail" <% if(supplier.contactEmail !== undefined) { %>value="<%= supplier.contactEmail %>"<% } else { %> placeholder="Contact Email" <% } %>></div>
                      <div><input type="text" name="gsaApprovedSupplier" <% if(supplier.gsaApprovedSupplier !== undefined) { %>value="<%= supplier.gsaApprovedSupplier %>"<% } else { %> placeholder="GSA Approved Supplier" <% } %>></div>
                      <div><input type="text" name="dunsNumber" <% if(supplier.dunsNumber !== undefined) { %>value="<%= supplier.dunsNumber %>"<% } else { %> placeholder="DUNS Number" <% } %>></div>
                      <div><input type="text" name="cageCode" <% if(supplier.cageCode !== undefined) { %>value="<%= supplier.cageCode %>"<% } else { %> placeholder="CAGE Code" <% } %>></div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
            <div id="productionDetails">
                <h4>Production Details</h4>
                <div class="formWrapper">
                  <form action="/supplier/update/productionDetails" method="post" id="supplierProductionDetailsForm">
                      <select name="annualSalesValue">
                          <option value="<%= supplier.annualSalesValue %>" selected="selected"><%= supplier.annualSalesValue %></option>
                          <%- partial('../partials/edit-dropdowns/edit-language') %>
                      </select>
                      <div><input type="text" name="totalFactorySize" value="<%= supplier.totalFactorySize %>">???????</div>
                      <div><input type="text" name="totalQCStaff" value="<%= supplier.totalQCStaff %>">????????</div>
                      <div>ADD OTHER LOCATIONS</div>
                      <div>ADD NEAREST PORT</div>
                      <div><input type="text" name="primaryProductSpecialty" <% if(supplier.primaryProductSpecialty !== undefined) { %>value="<%= supplier.primaryProductSpecialty %>"<% } else { %> placeholder="Primary Product Specialty" <% } %>></div>
                      <div><input type="text" name="companyCapabilities"  <% if(supplier.companyCapabilities !== undefined) { %>value="<%= supplier.companyCapabilities %>"<% } else { %> placeholder="Company Capabilities" <% } %>></div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
            <div id="descriptionsSupplier">
                <h4>Descriptions</h4>
                <div class="formWrapper">
                    <form action="/supplier/update/descriptions" method="post" id="supplierDescriptionsForm">
                        <div><input type="text" name="companyDescription" <% if(supplier.companyDescription !== undefined) { %>value="<%= supplier.companyDescription %>"<% } else { %> placeholder="Company Description" <% } %>></div>
                        <div><textarea name="environmentalSustainability" form="buyerDescriptionsForm" <% if(supplier.environmentalSustainability === undefined){ %> placeholder="Environmental Sustainability" <% } else{ %> ><%= supplier.environmentalSustainability %>  <% } %>></textarea></div>
                        <div><textarea name="qualitySourcing" form="buyerDescriptionsForm" <% if(supplier.qualitySourcing === undefined){ %> placeholder="Quality Sourcing" <% } else{ %> ><%= supplier.environmentalSustainability  %><% } %>></textarea></div>
                        <div><textarea name="workplaceSafety" form="buyerDescriptionsForm"<% if(supplier.workplaceSafety === undefined){ %> placeholder="Workplace Safety" <% } else{ %> ><%= supplier.workplaceSafety  %><% } %>></textarea></div>
                        <div><textarea name="laborEducationTraining" form="buyerDescriptionsForm"<% if(supplier.laborEducationTraining === undefined){ %> placeholder="Labor Education Training" <% } else{ %> ><%= supplier.laborEducationTraining  %><% } %>></textarea></div>
                        <div><textarea name="reinvestment" form="buyerDescriptionsForm"<% if(supplier.reinvestment === undefined){ %> placeholder="Reinvestment" <% } else{ %> ><%= supplier.reinvestment  %><% } %>></textarea></div>
                        <div><input type="submit"></div>
                    </form>
                </div>
            </div>
            <div id="preferencesSupplier">
                <h4>Preferences</h4>
                <div class="formWrapper">
                  <form action="/supplier/update/preferences" method="post" id="supplierPreferencesForm">
                      <div><select name="preferredBuyerType">
                          <option value="<%= supplier.preferredBuyerType %>" selected="selected"><%= supplier.preferredBuyerType %></option>
                          <%- partial('../partials/edit-dropdowns/edit-pref-buyer-type') %>
                      </select></div>
                      <div><select name="preferredBuyerLanguage">
                          <option value="<%= supplier.preferredBuyerLanguage %>" selected="selected"><%= supplier.preferredBuyerLanguage %></option>
                          <%- partial('../partials/edit-dropdowns/edit-pref-buyer-language') %>
                      </select></div>
                      <div><select name="preferredBuyerLocation" id="preferredBuyerLocation">
                              <option>Preferred Buyer Location</option>
                          </select></div>
                      <div><input type="submit"></div>
                  </form>
                </div>
            </div>
            <div id="socialOutletsSupplier">
                <h4>Social Outlets</h4>
                <div class="formWrapper">
                    <form action="/supplier/update/socialoutlets" method="post" id="supplierSocialOutletsForm">
                        <div><input type="text" name="facebook" <% if(supplier.facebook !== undefined) { %>value="<%= supplier.facebook %>"<% } else { %> placeholder="Facebook" <% } %>></div>
                        <div><input type="text" name="twitter" <% if(supplier.twitter !== undefined) { %>value="<%= supplier.twitter %>"<% } else { %> placeholder="Twitter" <% } %>></div>
                        <div><input type="text" name="google" <% if(supplier.google !== undefined) { %>value="<%= supplier.google %>"<% } else { %> placeholder="Google" <% } %>></div>
                        <div><input type="text" name="linkedin" <% if(supplier.linkedin !== undefined) { %>value="<%= supplier.linkedin %>"<% } else { %> placeholder="Linkedin" <% } %>></div>
                        <div><input type="text" name="pinterest" <% if(supplier.pinterest !== undefined) { %>value="<%= supplier.pinterest %>"<% } else { %> placeholder="Pinterest" <% } %>></div>
                        <div><input type="text" name="instagram" <% if(supplier.instagram !== undefined) { %>value="<%= supplier.instagram %>"<% } else { %> placeholder="Instagram" <% } %>></div>
                        <div><input type="text" name="tumblr" <% if(supplier.tumblr !== undefined) { %>value="<%= supplier.tumblr %>"<% } else { %> placeholder="Tumblr" <% } %>></div>
                        <div><input type="submit"></div>
                    </form>
                </div>
            </div>
        <% } %>
      </div><!-- END COL-SM-8 -->
    </div> <!-- END TABS -->

    <script>
        $(document).ready(function() {

            //COMPANY DETAILS
            $("#companyDetailsForm").submit(function () {
                $.post($("#companyDetailsForm").attr("action"), $("#companyDetailsForm").serialize(), function (data) {
                    if (data == 'success') {
                        alert('Success');
                    }
                    else {
                        alert('failed');
                    }
                });
                //console.log($("#companyDetailsForm").serialize());
                return false;
            });
        });
    </script>

    <!-- BUYER MODE AJAX -->
    <% if(user.activeMode == 'buyer') { %>
        <script>
            $(document).ready(function() {
                //BUYER INFORMATION
                $("#buyerInformationForm").submit(function(){
                    $.post($("#buyerInformationForm").attr("action"), $("#buyerInformationForm").serialize(), function(data){
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#buyerInformationForm").serialize());
                    return false;
                });

                //DESCRIPTIONS
                $("#buyerDescriptionsForm").submit(function(){
                    $.post($("#buyerDescriptionsForm").attr("action"), $("#buyerDescriptionsForm").serialize(), function(data){
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    alert($("#buyerDescriptionsForm").serialize());
                    return false;
                });

                //PREFERENCES
                $("#buyerPreferencesForm").submit(function(){
                    $.post($("#buyerPreferencesForm").attr("action"), $("#buyerPreferencesForm").serialize(), function(data){
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#buyerPreferencesForm").serialize());
                    return false;
                });

                //SOCIAL OUTLETS
                $("#buyerSocialOutletsForm").submit(function(){
                    $.post($("#buyerSocialOutletsForm").attr("action"), $("#buyerSocialOutletsForm").serialize(), function(data){
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#buyerSocialOutletsForm").serialize());
                    return false;
                });
            })
        </script>
    <% } %>

    <!--SUPPLIER MODE AJAX -->
    <% if(user.activeMode == 'supplier') { %>
        <script>
            $(document).ready(function(){
                //SUPPLIER INFORMATION
                $("#buyerInformationForm").submit(function () {
                    $.post($("#supplierInformationForm").attr("action"), $("#supplierInformationForm").serialize(), function (data) {
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#supplierInformationForm").serialize());
                    return false;
                });

                //SUPPLIER INFORMATION
                $("#supplierProductionDetailsForm").submit(function () {
                    $.post($("#supplierProductionDetailsForm").attr("action"), $("#supplierProductionDetailsForm").serialize(), function (data) {
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#supplierProductionDetailsForm").serialize());
                    return false;
                });

                //SUPPLIER DESCRIPTIONS
                $("#supplierDescriptionsForm").submit(function () {
                    $.post($("#supplierDescriptionsForm").attr("action"), $("#supplierDescriptionsForm").serialize(), function (data) {
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#supplierDescriptionsForm").serialize());
                    return false;
                });

                //SUPPLIER PREFERENCES
                $("#supplierPreferencesForm").submit(function () {
                    $.post($("#supplierPreferencesForm").attr("action"), $("#supplierPreferencesForm").serialize(), function (data) {
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#supplierPreferencesForm").serialize());
                    return false;
                });

                //SUPPLIER SOCIAL OUTLETS
                $("#supplierSocialOutletsForm").submit(function () {
                    $.post($("#supplierSocialOutletsForm").attr("action"), $("#supplierSocialOutletsForm").serialize(), function (data) {
                        if (data == 'success') {
                            alert('Success');
                        }
                        else {
                            alert('failed');
                        }
                    });
                    console.log($("#supplierSocialOutletsForm").serialize());
                    return false;
                });
            });
        </script>
    <% } %>
</div>