<%- partial('../partials/dash-header.ejs') %>
<script src="/linker/js/countries.js"></script>

<div class="container" id="companyUpdate">
  <script>
    $(document).ready(function() {
      $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
      $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
      var area = " | Update Company Profile";
      var first = $("#siteTitle").text();
      $("#siteTitle").text(first + area);
    });
  </script>
  <style>
    .ui-tabs-vertical ul { margin: 0px; padding-left: 0px !important;}
    .ui-tabs-vertical .ui-tabs-nav li { list-style: none; margin: 0px; padding: 0px;}
    .ui-tabs-vertical .ui-tabs-nav li .rightSecBox { margin-right: 10px;}
    .ui-tabs-vertical .ui-tabs-nav li a { display:block; margin-left: 20px; padding-left: 20px;}
    .ui-tabs-vertical .ui-tabs-nav li a:focus { outline: none; border: 0px none; background: none transparent;}
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec { background: #fbac27; color: white;}
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec a { color: white;}
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSecBox { background: #ffc65c;}
    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active .rightSec i { color: white;}
  </style>
  <% if (req.session.flash) { %>
    <div id="success-message"><%= req.flash('message') %></div>
    <div id="error-message"><%= req.flash('errorMessage') %></div>
  <% } %>
  <div class="row ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix" id="tabs">
    <div class="col-sm-4">
      <% if(user.activeMode == 'buyer') { %><h3>Edit Buyer Profile</h3><% } %>
      <% if(user.activeMode == 'supplier') { %><h3>Edit Supplier Profile</h3><% } %>
      <div class="featuresColumn">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
          <%- partial('../partials/update-company/sidebar-company-tab') %>

          <% if(user.activeMode == 'buyer') { %>
            <%- partial('../partials/update-company/sidebar-buyer-tabs') %>
          <% } %>

          <% if(user.activeMode == 'supplier') { %>
            <%- partial('../partials/update-company/sidebar-supplier-tabs') %>
          <% } %>
        </ul>
      </div> <!-- END FEATURES COLUMN -->

      <div id="username">
        <h3>Your Company Username</h3>
        <p>procur.com/companies/<strong><%= company.handle %></p>
      </div>
    </div><!-- END col-sm-4 -->

    <div class="col-sm-8">
      <% if (company.buyer === true && company.supplier === false) { %>
        <%- partial('../partials/update-company/basic-company-details') %>
        <%- partial('../partials/update-company/buyer-information') %>
        <%- partial('../partials/update-company/buyer-descriptions') %>
        <%- partial('../partials/update-company/buyer-preferences') %>
        <%- partial('../partials/update-company/buyer-social-media') %>
        <%- partial('../partials/update-company/buyer-downloads') %>
      <% } %>
      <% if (company.supplier === true && company.buyer === false) { %>
        <%- partial('../partials/update-company/basic-company-details') %>
        <%- partial('../partials/update-company/supplier-information') %>
        <%- partial('../partials/update-company/supplier-production-details') %>
        <%- partial('../partials/update-company/supplier-descriptions') %>
        <%- partial('../partials/update-company/supplier-preferences') %>
        <%- partial('../partials/update-company/supplier-social-media') %>
        <%- partial('../partials/update-company/supplier-downloads') %>
      <% } %>
      <% if (company.buyer === true && company.supplier === true) { %>
        <% if (user.activeMode === "buyer") { %>
          <%- partial('../partials/update-company/basic-company-details') %>
          <%- partial('../partials/update-company/buyer-information') %>
          <%- partial('../partials/update-company/buyer-descriptions') %>
          <%- partial('../partials/update-company/buyer-preferences') %>
          <%- partial('../partials/update-company/buyer-social-media') %>
          <%- partial('../partials/update-company/buyer-downloads') %>
        <% } %>
        <% if (user.activeMode === "supplier") { %>
          <%- partial('../partials/update-company/basic-company-details') %>
          <%- partial('../partials/update-company/supplier-information') %>
          <%- partial('../partials/update-company/supplier-production-details') %>
          <%- partial('../partials/update-company/supplier-descriptions') %>
          <%- partial('../partials/update-company/supplier-preferences') %>
          <%- partial('../partials/update-company/supplier-social-media') %>
          <%- partial('../partials/update-company/supplier-downloads') %>
        <% } %>
      <% } %>
    </div><!-- END col-sm-8 -->
  </div>
</div>  
<%- partial('../partials/dashboard-footer.ejs') %>