<h5>Official Address*</h5>
<% if (!companyLocations["showHq"]) { %>
  <div><input class="address1" type="text" name="companyAddress1" value="<%= companyLocations["company-isHq"].addressLine1 %>" placeholder="Address Line #1"></div>
  
  <div><input class="address2" type="text" name="companyAddress2" value="<%= companyLocations["company-isHq"].addressLine2 %>" placeholder="Address Line #2"></div>

  <div class="styledSelect">
    <select class="companyCountry" name="companyCountry" id="companyCountry" onchange="print_state('companyProvince',this.selectedIndex);">
    <script language="javascript">print_country("companyCountry");</script>
    <% if (companyLocations["company-isHq"].country) { %>
      <script language="javascript">
        $("#companyCountry").val("<%=companyLocations['company-isHq'].country%>");
      </script>
    <% } else { %>
      <script language="javascript">$("#companyCountry").val("");</script>
    <% } %> 
    </select>
  </div>

  <div class="styledSelect inputColumnL">
    <select class="companyProvince" name="companyProvince" id="companyProvince">
      <% if (companyLocations['company-isHq'].country) { %>
        <script language="javascript">print_state("companyProvince",$("#companyCountry").prop('selectedIndex'));</script>
      <% } else {%>
        <script language="javascript">print_state("companyProvince",0);</script>
      <% } %>
      <% if (companyLocations["company-isHq"].province) { %>
        <script language="javascript">
            $("#companyProvince").val("<%=companyLocations['company-isHq'].province%>");
        </script>
      <% } else { %>
        <script language="javascript">$("#countryProvince").val("");</script>
      <% } %>
    </select>
  </div>

  <div class="row insideForm">
    <div class="col-sm-7">
      <div><input class="companyCity" type="text" name="companyCity" <% if (companyLocations["company-isHq"].city) { %>value="<%= companyLocations["company-isHq"].city %>" <% } %> placeholder="City"></div>
    </div>

    <div class="col-sm-5 inputColumnR">
      <div class="breakForm">
        <input type="text" class="companyPostalCode" name="companyPostalCode" value="<%= companyLocations["company-isHq"].postalCode %>" placeholder="Postal Code">
      </div>
    </div>
  </div>

<% } else { %>

  <div><input class="address1" type="text" name="companyAddress1" value="<%= companyLocations["company-notHq"][0].addressLine1 %>" placeholder="Address Line #1"></div>
  <div><input class="address2" type="text" name="companyAddress2" value="<%= companyLocations["company-notHq"][0].addressLine2 %>" placeholder="Address Line #2"></div>

  <div class="styledSelect">
    <select class="companyCountry" name="companyCountry" id="companyCountry" onchange="print_state('companyProvince',this.selectedIndex);"> 
    <script language="javascript">print_country("companyCountry");</script>
    <% if (companyLocations["company-isHq"].country) { %>
      <script language="javascript">
        $("#companyCountry").val("<%=companyLocations['company-isHq'].country%>");
      </script>
    <% } else { %>
      <script language="javascript">$("#companyCountry").val("");</script>
    <% } %> 
    </select>
  </div>

  <div class="styledSelect inputColumnL">
    <select class="companyProvince" name="companyProvince" id="companyProvince">
      <% if (companyLocations['company-isHq'].country) { %>
        <script language="javascript">print_state("companyProvince",$("#companyCountry").prop('selectedIndex'));</script>
      <% } else {%>
        <script language="javascript">print_state("companyProvince",0);</script>
      <% } %>
      <% if (companyLocations["company-isHq"].province) { %>
        <script language="javascript">
            $("#companyProvince").val("<%=companyLocations['company-isHq'].province%>");
        </script>
      <% } else { %>
        <script language="javascript">$("#countryProvince").val("");</script>
      <% } %>
    </select>
  </div>

  <div class="row insideForm">
    <div class="col-sm-7">
      <div><input class="companyCity" type="text" name="companyCity" <% if (companyLocations["company-notHq"][0].city) { %>value="<%= companyLocations["company-notHq"][0].city %>" <%  } %>placeholder="City"></div>
    </div>

    <div class="col-sm-5 inputColumnR">
      <div class="breakForm">
        <input type="text" class="companyPostalCode" name="companyPostalCode" value="<%= companyLocations["company-notHq"][0].postalCode %>" placeholder="Postal Code">
      </div>
    </div>
  </div>

<% } %>

<!-- HQ Checkbox -->
<% if (companyLocations["showHq"]) { %>
  <h5>Is the above address the headquarters?</h5>
  <div class="checkbox-container">
    <input class="checkbox hqbox" type="checkbox" name="companyIsHq">
    <div class="checkboxtext breakForm"><h5>Yes; please copy my details below.</h5></div>
  </div>
<% } else { %>
  <h5>Is the above address the headquarters?</h5>
  <div class="checkbox-container">
    <input class="checkbox hqbox" type="checkbox" name="companyIsHq" checked="checked">
    <div class="checkboxtext breakForm"><h5>Yes; please copy my details below.</h5></div>
  </div>
<% } %>

<!-- HQ Address -->
<h5>Company Headquarters Address*</h5>
<div>
  <input class="hqfield hqaddress1" type="text" name="hqAddress1" value="<%= companyLocations["company-isHq"].addressLine1 %>" placeholder="Address Line #1">
</div>
<div>
  <input class="hqfield hqaddress2" type="text" name="hqAddress2" value="<%= companyLocations["company-isHq"].addressLine2 %>" placeholder="Address Line #2">
</div>

<div class="styledSelect">
  <select class="hqfield hqcompanyCountry" name="hqCountry" id="hqcompanyCountry" onchange="print_state('hqcompanyProvince',this.selectedIndex);">
  <script language="javascript">print_country("hqcompanyCountry");</script>
  <% if (companyLocations["company-isHq"].country) { %>
    <script language="javascript">
      $("#hqcompanyCountry").val("<%=companyLocations['company-isHq'].country%>");
    </script>
  <% } else { %>
    <script language="javascript">$("#hqcompanyCountry").val("");</script>
  <% } %>
  </select>
</div>


<div class="styledSelect inputColumnL">
  <select class="hqfield hqcompanyProvince" name="hqProvince" id="hqcompanyProvince">
    <% if (companyLocations["company-isHq"].country) { %>
      <script language="javascript">print_state("hqcompanyProvince",$("#hqcompanyCountry").prop('selectedIndex'));</script>
    <% } else {%>
      <script language="javascript">print_state("hqcompanyProvince",0);</script>
    <% } %>
    <% if (companyLocations["company-isHq"].province) { %>
      <script language="javascript">
          $("#hqcompanyProvince").val("<%=companyLocations['company-isHq'].province%>");
      </script>
    <% } else { %>
      <script language="javascript">
        $("#hqcompanyProvince").val("");
      </script>
    <% } %>
  </select>
</div>


<div class="row insideForm">
  <div class="col-sm-7">
    <div><input class="hqfield hqcompanyCity" type="text" name="hqcompanyCity" <% if (companyLocations["company-isHq"].city) { %>value="<%= companyLocations["company-isHq"].city %>" <% } %>placeholder="City"></div>
  </div>

  <div class="col-sm-5 inputColumnR"> <div class="breakForm">
      <input class="hqfield hqPostalCode" type="text" name="hqPostalCode" value="<%= companyLocations["company-isHq"].postalCode %>" placeholder="Postal Code">
    </div>
  </div>
</div>
