<div id="companyDetails">
  <h4>Basic Company Details</h4>
  <div class="formWrapper">
    <form action="/company/update/basicCompanyDetails" method="post" id="companyDetailsForm">
      <div class="row">
        <div class="col-sm-6">
          <h5>Company Name</h5>
          <div><input type="text" name="name" value="<%= company.name %>" placeholder="Company Name"></div><br/>

          <h5>Company Phone</h5>
          <div class="row insideForm">
            <div class="col-sm-5 inputColumnL">
                <div><input type="text" name="phoneNumberCountryCode" value="<%= company.phoneNumberCountryCode %>" placeholder="Country Code"></div>
            </div>
            <div class="col-sm-7 inputColumnR">
                <div><input type="text" name="phoneNumber" value="<%= company.phoneNumber %>" placeholder="Phone Number"></div>
            </div>
          </div>
          <div class="row insideForm">
            <div class="col-sm-7 col-sm-offset-5 inputColumnR">
                <div class="breakForm"><input type="text" name="phoneExtension" value="<%= company.phoneExtension %>" placeholder="Extension"></div>
            </div>
          </div>

          <h5>Company Fax</h5>
          <div class="row insideForm">
            <div class="col-sm-5 inputColumnL">
                <div><input type="text" name="faxCountryCode" value="<%= company.faxCountryCode %>" placeholder="Country Code"></div>
            </div>
            <div class="col-sm-7 inputColumnR">
                <div><input type="text" name="faxNumber" value="<%= company.faxNumber %>" placeholder="Fax Number"></div>
            </div>
          </div>
          <div class="row insideForm">
            <div class="col-sm-7 col-sm-offset-5 inputColumnR">
                <div class="breakForm"><input type="text" name="faxExtension" value="<%= company.faxExtension %>"></div>
            </div>
          </div>

          <h5>Company Email</h5>
          <div><input type="text" name="email" value="<%= company.email %>"></div><br/>

          <h5>Company Website</h5>
          <div><input type="text" name="website" value="<%= company.website %>"></div><br/>
        </div><!-- END col-sm-6 (LEFT) -->

        <div class="col-sm-6">
          <h5>Company Industry</h5>
          <div class="styledSelect">
            <select name="companyIndustry">
            <option value="<%= company.industry %>" selected="selected">
              <%= company.industry %>
            </option>
            <%- partial('../edit-dropdowns/edit-industry') %>
            </select>
          </div><br/>

          <h5>Official Address</h5>
          <div>
            <input class="address1" type="text" name="companyAddress1" value="<%= companyLocations["company-notHq"].addressLine1 %>" placeholder="Address Line #1">
          </div>
          <div>
            <input class="address2" type="text" name="companyAddress2" value="<%= companyLocations["company-notHq"].addressLine2 %>" placeholder="Address Line #2">
          </div>
          <div class="styledSelect">
            <select class="companyCountry" name="companyCountry" id="companyCountry" onchange="print_state('companyProvince',this.selectedIndex);"> 
              <option value="">Select Country</option>
              <option value="1">1</option>
            </select>
          </div>

          <div class="row insideForm">
            <div class="col-sm-7">
              <div class="styledSelect inputColumnL">
                <select class="companyProvince" name="companyProvince" id="companyProvince">
                  <option value="">Select Province/State</option>
                </select><script language="javascript">print_country("companyCountry");</script>
              </div>
            </div>

            <div class="col-sm-5 inputColumnR">
              <div class="breakForm">
                <input type="text" class="companyPostalCode" name="companyPostalCode" value="<%= companyLocations["company-notHq"].postalCode %>" placeholder="Postal Code">
              </div>
            </div>
          </div>

          <% if (companyLocations["company-isHq"].id === undefined) { %>
            <h5>Is the above address the headquarters?</h5>
            <div>
              <input class="checkbox hqbox" type="checkbox" name="companyIsHq">
              <div class="checkboxtext breakForm">
                Yes; please copy my details below.
              </div>
            </div>
          <% } %>

          <h5>Company Headquarters Address*</h5>
          <div>
            <input class="hqfield hqaddress1" type="text" name="hqAddress1" value="<%= companyLocations["company-isHq"].addressLine1 %>" placeholder="Address Line #1">
          </div>
          <div>
            <input  class="hqfield hqaddress2" type="text" name="hqAddress2" value="<%= companyLocations["company-isHq"].addressLine2 %>" placeholder="Address Line #2">
          </div>

          <div class="styledSelect">
            <select class="hqfield hqcompanyCountry" name="hqCountry" id="hqcompanyCountry" onchange="print_state('hqcompanyProvince',this.selectedIndex);">
              <option value="">Select Country</option>
              <option value="1">1</option>
            </select>
          </div>

          <div class="row insideForm">
            <div class="col-sm-7">
              <div class="styledSelect inputColumnL">
                <select class="hqfield hqcompanyProvince" name="hqProvince" id="hqcompanyProvince">
                  <option value="">Select Province/State</option>
                  <option value="1">Fakeland</option>
                </select>
              </div><script language="javascript">print_country("hqcompanyCountry");</script>
            </div>

            <div class="col-sm-5 inputColumnR">
              <div class="breakForm">
                <input class="hqfield hqPostalCode" type="text" name="hqPostalCode" value="<%= companyLocations["company-isHq"].postalCode %>" placeholder="Postal Code">
              </div>
            </div>
          </div>
          <br />

          <h5>Total Number of Employees</h5>
          <div class="styledSelect">
            <select name="employeeCount">
              <option value="<%= company.employeeCount %>" selected="selected"><%= company.employeeCount %></option>
              <%- partial('../edit-dropdowns/edit-total-employees') %>
            </select>
          </div>

        </div><!-- END col-sm-6 (RIGHT) -->

      </div><!-- END row -->
    </form>
    <div><input type="submit"></div>
  </div><!-- END .formWrapper -->
</div><!-- END #companyDetails -->