<div id="photosDownloadsBuyer">
    <% if (buyerDownload && buyerDownload.length>0) { %>
      <h4>My Downloadable Files</h4>
      <div class="formWrapper">
        <form id="deleteDownloadsForm" action="/downloads/removeBuyer" method="post">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-8 col-xs-8"></div>
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-sm-2 col-xs-4"><h3>Remove</h3></div>
            <ul class="downloadsList">
              <% for (var i = 0; i<buyerDownload.length; i++){ %>
                <li>
                  <div class="col-sm-10 col-xs-8" style="padding-top: 0px;"><h5>
                    <%= buyerDownload[i].title %><a href="<%= buyerDownload[i].assetUrl%>" title="Download Copy" target="_blank"><i class="fa fa-download"></i></a></h5>
                  </div>
                  <div class="col-sm-2 col-xs-4">
                    <input type="checkbox" class="deleteYesNo" value="<%=buyerDownload[i].id %>" name="deleteMe"></input>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div><!-- END formWrapper -->
      <div class="row"><button class="continueButton" type="submit">Save Changes&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
      <br/>
      <br/>
  </form>
    <% } else { %>
      <h4>My Downloadable Files</h4>
      <div class="formWrapper">
        <div class="row">
          <div class="col-sm-12">
            <p class="detailText">No files uploaded yet. Select files to upload below. </p>
          </div>
        </div>
      </div>
      <br/>
      <br/>
    <% } %>
    <h4>Upload Files (30mb Limit)</h4>
    <div class="formWrapper">
      <% if (!buyerDownload || buyerDownload.length<5){ %>
        <form id="downloadablesForm" action="/downloads/processBuyer" method="post" enctype="multipart/form-data">
          <% for (var i = 0; i<5-buyerDownload.length; i++){ %>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" id="<%='downloadTitle' + i %>" name="<%='downloadTitle' + i %>" placeholder="Title (Required)"/>
              </div>
              <div class="col-sm-6">
                <input inline="true" type="file" name="<%='downloadURI'+i %>"  accept="application/pdf,application/vnd.ms-excel,image/*,application/zip,application/mspowerpoint,application/msword"/>
              </div>
            </div>
          <% } %>
        <% } %>
        <div class="row">
          <div class="col-sm-12">
            <p class="detailText"><%=5-buyerDownload.length%> uploads remain.<% if (buyerDownload.length==5) { %> Remove files above to upload more.<% } %></p>
          </div>
        </div>
      </div><!-- END formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
  </form>
</div><!-- END #photosDownloadsBuyer -->