<% if (company.buyer == true) { %>
  <% if ((user.activeMode == 'buyer') || (user.activeMode === undefined)) { %>
    <div id="buyerInformation">
      <h4>Buyer Information</h4>



      <div class="formWrapper">
        <div class="row">
          <div class="col-sm-6">
            <h5>Logo Image</h5>
            <div><%if (buyer.logoUrl) {%><img src="<%= buyer.logoUrl %>"><% } %></div>
            <form id="buyerLogoForm" action="/buyer/update/logo" method="post" enctype="multipart/form-data">
              <input type="file" name="logo" accept="image/*"/>
              <input type="submit" class="uploadButton" value="Upload Logo">
            </form>
          </div><!-- END logo image .col-sm-12 -->

          <form action="/buyer/update/information" method="post" id="buyerInformationForm">

            <div class="col-sm-6 dba">
              <h5>DBA Name</h5>
              <div><input type="text" name="dbaName" <% if (buyer.dbaName) { %>value="<%= buyer.dbaName %>"<% } %> placeholder="Altenate Company Name"></div>
            </div>
            <div class="col-sm-6 language">
              <h5>Language*</h5>
              <div class="styledSelect">
                <select name="language" id="language">
                  <%- partial('../edit-dropdowns/edit-language') %>
                  <% if (buyer.language) { %>
                    <script language="javascript">$("#language").val("<%= buyer.language %>");</script>
                  <% } else { %>
                    <script language="javascript">$("#language").val("");</script>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="clear"></div>

            <h5 class="header-currency">Accepted Currencies*</h5>
            <% var currencies = ["USD","EUR","JPY","GBP","break","AUD","CHF","CAD","MXN","break","CNY","NZD","SEK","break","RUB","HKD","SGD"]; %>

            <section id="acceptedCurrencies">
              <div class="row">
                <div class="col-sm-3">
                  <% for(var x = 0; x < currencies.length; x++) { %>
                    <% var matchFound = false; %>
                    <% if (currencies[x] === "break") { %>
                      </div>
                      <div class="col-sm-3">
                    <% } %>
                    <% for (var y = 0; y < buyer["acceptedCurrency"].length; y++) { %>
                      <% if (currencies[x] == buyer.acceptedCurrency[y]) { %>
                        <% matchFound = true; %>
                        <div class="cb-container"><input class="checkbox" type="checkbox" name="acceptedCurrency" value="<%= currencies[x] %>" checked><div class="checkboxtext"><%= currencies[x] %></div></div>
                        <% break; %>
                      <% } %>
                    <% } %>
                    <% if (matchFound === false && currencies[x] !== "break") { %>
                      <div class="cb-container"><input class="checkbox" type="checkbox" name="acceptedCurrency" value="<%= currencies[x] %>"><div class="checkboxtext"><%= currencies[x] %></div></div>
                    <% } %>
                  <% } %>
              </div>
            </section>

            <h5>Accepted Payment Terms*</h5>
            <% var payment = ["MoneyGram","Western Union","break","T/T","Credit Card","break","Escrow","PayPal","break","D/P D/A","Cash"]; %>

            <section id="acceptedPaymentTerms">
              <div class="row">
                <div class="col-sm-3">
                  <% for(var x = 0; x < payment.length; x++) { %>
                    <% var matchFound = false; %>
                    <% if (payment[x] === "break") { %>
                      </div>
                      <div class="col-sm-3">
                    <% } %>
                    <% for (var y = 0; y < buyer["acceptedPaymentTerms"].length; y++) { %>
                      <% if (payment[x] == buyer.acceptedPaymentTerms[y]) { %>
                        <% matchFound = true; %>
                        <div class="cb-container"><input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="<%= payment[x] %>" checked><div class="checkboxtext"><%= payment[x] %></div></div>
                        <% break; %>
                      <% } %>
                    <% } %>
                    <% if (matchFound === false && payment[x] !== "break") { %>
                      <div class="cb-container"><input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="<%= payment[x] %>"><div class="checkboxtext"><%= payment[x] %></div></div>
                    <% } %>
                  <% } %>
              </div>
            </section>

            <h5>Accepted Delivery Terms</h5>
            <% var terms = ["EXW","FCA","CPT","break","CIP","DAT","DAP","break","DDP","FAS","FOB","break","CFR","CIF","Custom"]; %>

            <section id="acceptedDeliveryTerms">
              <div class="row">
                <div class="col-sm-3">
                  <% for (var x = 0; x < terms.length; x++) { %>
                    <% var matchFound = false; %>
                    <% if (terms[x] === "break") { %>
                      </div>
                      <div class="col-sm-3">
                    <% } %>
                    <% for (var y = 0; y < buyer["acceptedDeliveryTerms"].length; y++) { %>
                      <% if (terms[x] == buyer.acceptedDeliveryTerms[y]) { %>
                        <% matchFound = true; %>
                        <div class="cb-container"><input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="<%= terms[x] %>" checked><div class="checkboxtext"><%= terms[x] %></div></div>
                        <% break; %>
                      <% } %>
                    <% } %>
                    <% if (matchFound === false && terms[x] !== "break") { %>
                      <div class="cb-container"><input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="<%= terms[x] %>"><div class="checkboxtext"><%= terms[x] %></div></div>
                    <% } %>
                  <% } %>
              </div>
            </section>

            <div class="col-sm-6">
              <h5>Type of Company*</h5>
              <section id="typeOfCompany">
                <div class="styledSelect breakForm">
                  <select name="typeOfCompany" id="typeOfCompanySelect">
                    <%- partial('../edit-dropdowns/edit-buyer-type') %>
                    <% if (buyer.typeOfCompany) { %>
                      <script language="javascript">$("#typeOfCompanySelect").val("<%= buyer.typeOfCompany %>");</script>
                    <%} else{ %>
                      <script language="javascript">$("#typeOfCompanySelect").val("");</script>
                    <% } %>
                  </select>
                </div>
              </section>

              <h5>Contact Name</h5>
              <% if (buyer.contactName === undefined) { %>
                <div><input type="text" name="contactName" placeholder="Contact Name"></div>
                <% } else { %>
                <div><input type="text" name="contactName" value="<%= buyer.contactName %>" placeholder="Contact Name"></div>
              <% } %>

              <h5>Contact Position</h5>
              <% if (buyer.contactPosition === undefined) { %>
                <div><input type="text" name="contactPosition" placeholder="Contact Position"></div>
                <% } else { %>
                <div><input type="text" name="contactPosition" value="<%= buyer.contactPosition %>" placeholder="Contact Position"></div>
              <% } %>

              <h5>Contact Email</h5>
              <% if (buyer.contactEmail === undefined) { %>
                <div><input type="text" name="contactEmail" placeholder="Contact Email"></div>
                <% } else { %>
                <div><input type="text" name="contactEmail" value="<%= buyer.contactEmail %>" placeholder="Contact Email"></div>
              <% } %>

              <h5>DUNS Number</h5>
              <% if (buyer.dunsNumber === undefined) { %>
                <div><input type="text" name="dunsNumber" placeholder="DUNS Number"></div>
                <% } else { %>
                <div><input type="text" name="dunsNumber" value="<%= buyer.dunsNumber %>" placeholder="DUNS Number"></div>
              <% } %>
            </div>

            <div class="col-sm-6">
              <h5>Secondary Location</h5>
                        <section id="otherLocation1">
            <div><input type="text" name="locationName" value="<%= buyer.locationName %>" placeholder="Location Title"></div>

            <div class="styledSelect">
              <select name="locationType" id="locationType">
                <%- partial('../edit-dropdowns/edit-other-location-type') %>
                <% if (buyer.locationType) { %>
                <script language="javascript">$("#locationType").val("<%-buyer.locationType%>");</script>
                  <%} else { %>
                  <script language="javascript">$("#locationType").val("");</script>
                <% } %>
              </select>
            </div>

            <div class="styledSelect">
              <select name="locationCountry" id="locationCountry" onchange="print_state('locationProvince',this.selectedIndex);">
              <script language="javascript">print_country("locationCountry");</script>
              <% if (buyer.locationCountry) { %>
                <script language="javascript">
                  $("#locationCountry").val("<%=buyer.locationCountry%>");
                </script>
              <% } else { %>
                <script language="javascript">$("#locationCountry").val("");</script>
              <% } %>
              </select>
            </div>

            <div class="styledSelect">
              <select name="locationProvince" id="locationProvince">
              <% if (buyer.locationCountry) { %>
                  <script language="javascript">print_state("locationProvince",$("#locationCountry").prop('selectedIndex'));</script>
                <% } else {%>
                  <script language="javascript">print_state("locationProvince",0);</script>
              <% } %>
              <% if (buyer.locationProvince) { %>
                <script language="javascript">
                  $("#locationProvince").val("<%=buyer.locationProvince%>");
                </script>
              <% } else { %>
                <script language="javascript">$("#locationProvince").val("");</script>
              <% } %>
              </select>
            </div>

            <div><input type="text" name="locationCity" value="<%= buyer.locationCity %>" placeholder="City"></div>
          </section>

              <h5>Nearest Port</h5>
          <section id="port">
            <% if (buyer.portCity) { %>
               <div><input type="text" name="portCity" value="<%= buyer.portCity %>" placeholder="City"></div>
              <% } else { %>
              <div><input type="text" name="portCity" value="" placeholder="City"></div>
            <% } %>

            <div class="styledSelect">
              <select name="portCountry" id="portCountry" onchange="print_state('portProvince',this.selectedIndex);">
              <script language="javascript">print_country("portCountry");</script>
              <% if (buyer.portCountry) { %>
                <script language="javascript">
                  $("#portCountry").val("<%=buyer.portCountry%>");
                </script>
              <% } else { %>
                <script language="javascript">$("#portCountry").val("");</script>
              <% } %>
              </select>
            </div>

            <div class="styledSelect">
              <select name="portProvince" id="portProvince">
                <% if (buyer.portCountry) { %>
                  <script language="javascript">print_state("portProvince",$("#portCountry").prop('selectedIndex'));</script>
                <% } else {%>
                  <script language="javascript">print_state("portProvince",0);</script>
                <% } %>
                <% if (buyer.portProvince) { %>
                  <script language="javascript">
                    $("#portProvince").val("<%=buyer.portProvince%>");
                  </script>
                <% } else { %>
                  <script language="javascript">
                    $("#portProvince").val("");
                  </script>
                <% } %>
              </select>
            </div>
          </section>
            </div>

            <div class="col-sm-12">
              <h5>Enter Product Categories of Interest</h5>
              <% if (buyer["productCategory"].length > 0) { %>
                <% for (var x = 0; x < buyer["productCategory"].length; x++) { %>
                  <input id="autocomplete<%= x + 1 %>" name="autocomplete" placeholder="Begin typing to search categories..." value="<%= buyer["productCategory"][x] %>">
                <% } %>
              <% } else { %>
                  <input id="autocomplete1" name="autocomplete" placeholder="Begin typing to search categories...">
                  <input id="autocomplete2" name="autocomplete" placeholder="Begin typing to search categories...">
                  <input id="autocomplete3" name="autocomplete" placeholder="Begin typing to search categories...">
              <% } %>
            </div>

        </div><!-- END row -->
      </div><!-- END .formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
    <br/>
    <br/>
  </form>
</div><!-- END #buyerInformation -->
  <% } %>
<% } %>
