<% if (company.buyer == true) { %>
  <% if ((user.activeMode == 'buyer') || (user.activeMode === undefined)) { %>
    <div id="buyerInformation">
      <h4>Buyer Information</h4>
      <div class="formWrapper">

        <h5>Logo Image</h5>  
        <div><img src="<%= buyer.logoUrl %>"></div>
        <form id="buyerLogoForm" action="/buyer/update/logo" method="post" enctype="multipart/form-data">
          <input type="file" name="logo" accept="image/*"/>
          <input type="submit">
        </form>

        <form action="/buyer/update/information" method="post" id="buyerInformationForm">
          <h5>DBA Name</h5>
          <div><input type="text" name="dbaName" value="<%= buyer.dbaName %>"></div>
          <h5>Language</h5>
          <select name="language">
            <option value="<%= buyer.language %>" selected="selected"><%= buyer.language %></option>
              <%- partial('../edit-dropdowns/edit-language') %>
          </select>

          <h5>Accepted Currencies</h5>
          <% var currencies = ["USD","EUR","JPY","GBP","AUD","CHF","CAD","MXN","CNY","NZD","SEK","RUB","HKD","SGD"]; %>

          <section id="acceptedCurrencies">
            <div class="row breakForm">
              <% for(var x = 0; x < currencies.length; x++) { %>
                <% var matchFound = false; %>
                <% for (var y = 0; y < buyer["acceptedCurrency"].length; y++) { %>
                  <% if (currencies[x] == buyer.acceptedCurrency[y]) { %>
                    <% matchFound = true; %>
                    <input class="checkbox" type="checkbox" name="acceptedCurrency" value="<%= currencies[x] %>" checked><div class="checkboxtext"><%= currencies[x] %></div><br>
                    <% break; %>
                  <% } %>
                <% } %>
                <% if (matchFound === false) { %>
                  <input class="checkbox" type="checkbox" name="acceptedCurrency" value="<%= currencies[x] %>"><div class="checkboxtext"><%= currencies[x] %></div><br>
                <% } %>
              <% } %>
            </div>
          </section>

          <h5>Accepted Payment Terms</h5>
          <% var payment = ["MoneyGram","Western Union","T/T","Credit Card","Escrow","PayPal","D/P D/A","Cash"]; %>

          <section id="acceptedPaymentTerms">
            <div class="row breakForm">
              <% for(var x = 0; x < payment.length; x++) { %>
                <% var matchFound = false; %>
                <% for (var y = 0; y < buyer["acceptedPaymentTerms"].length; y++) { %>
                  <% if (payment[x] == buyer.acceptedPaymentTerms[y]) { %>
                    <% matchFound = true; %>
                    <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="<%= payment[x] %>" checked><div class="checkboxtext"><%= payment[x] %></div><br>
                    <% break; %>
                  <% } %>
                <% } %>
                <% if (matchFound === false) { %>
                  <input class="checkbox" type="checkbox" name="acceptedPaymentTerms" value="<%= payment[x] %>"><div class="checkboxtext"><%= payment[x] %></div><br>
                <% } %>
              <% } %>
            </div>
          </section>

          <h5>Accepted Delivery Terms</h5>
          <% var terms = ["EXW","FCA","CPT","CIP","DAT","DAP","DDP","FAS","FOB","CFR","CIF","Custom"]; %>

          <section id="acceptedDeliveryTerms">
            <div class="row breakForm">
              <% for (var x = 0; x < terms.length; x++) { %>
                <% var matchFound = false; %>
                <% for (var y = 0; y < buyer["acceptedDeliveryTerms"].length; y++) { %>
                  <% if (terms[x] == buyer.acceptedDeliveryTerms[y]) { %>
                    <% matchFound = true; %>
                    <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="<%= terms[x] %>" checked><div class="checkboxtext"><%= terms[x] %></div><br>
                    <% break; %>
                  <% } %>
                <% } %>
                <% if (matchFound === false) { %>
                  <input class="checkbox" type="checkbox" name="acceptedDeliveryTerms" value="<%= terms[x] %>"><div class="checkboxtext"><%= terms[x] %></div><br>
                <% } %>
              <% } %>
            </div>
          </section>

          <h5>Type of Company</h5>
          <section id="typeOfCompany">
            <div class="styledSelect breakForm">
              <select name="typeOfCompany">
                <%- partial('../dropdowns/supplier-type') %>
              </select>
            </div>
          </section>

          <h5>Contact Name</h5>
          <div><input type="text" name="contactName" value="<%= buyer.contactName %>" placeholder="Contact Name"></div>

          <h5>Contact Position</h5>
          <div><input type="text" name="contactPosition" value="<%= buyer.contactPosition %>" placeholder="Contact Position"></div>

          <h5>Contact Email</h5>
          <div><input type="text" name="contactEmail" value="<%= buyer.contactEmail %>" placeholder="Contact Email"></div>

          <h5>DUNS Number</h5>
          <div><input type="text" name="dunsNumber" value="<%= buyer.dunsNumber %>" placeholder="DUNS Number"></div>

          <h5>Product Categories</h5>
          <div class="col-sm-12">
            <label  for="autocomplete">
              <h5>Select your Category Preferences</h5>
            </label>
            <input id="autocomplete1" name="autocomplete" placeholder="Begin typing to search categories...">
            <label  for="autocomplete">
              <h5>Select your Category Preferences</h5>
            </label>
            <input id="autocomplete2" name="autocomplete" placeholder="Begin typing to search categories...">
            <label  for="autocomplete">
              <h5>Select your Category Preferences</h5>
            </label>
            <input id="autocomplete3" name="autocomplete" placeholder="Begin typing to search categories...">
          </div>

          <h5>Additional Location</h5>
          <% for (var x = 0; x < buyer["locationName"].length; x++) { %>
          <section id="otherLocation<%= x %>">
            <div>
              <input type="text" name="locationName" placeholder="Location Title" value="<%= buyer.locationName[x] %>">
            </div>
            <div class="styledSelect">
              <select name="locationType">
                <option value="<%= buyer.locationType[x] %>" selected="selected"><%= buyer.locationType[x] %></option>
                <%- partial('../edit-dropdowns/edit-other-location-type') %>
              </select>
            </div>
            <div class="styledSelect">
              <select name="locationCountry" id="country<%= x %>" onchange="print_state('province<%= x %>',this.selectedIndex);">
                <!-- edit_country(buyersCountry, countryID) will populate this dropdown -->
              </select>
            </div>
            <div class="styledSelect">
              <select name="locationProvince" id="province<%= x %>">
                <option value="<%= buyer.locationProvince[x] %>" selected="selected"><%= buyer.locationProvince[x] %></option>
              </select>
            </div><script language="javascript">edit_country("<%= buyer.locationCountry[x] %>", "country<%= x %>");</script>
            <div>
              <input type="text" name="locationCity" placeholder="City" value="<%= buyer.locationProvince[x] %>">
            </div>
          </section>
          <% } %>

          <h5>Nearest Port</h5>
          <section id="port">
            <div>
              <input type="text" name="portCity" placeholder="City" value="<%= buyer.portCity %>">
            </div>
            <div class="styledSelect">
              <select name="locationCountry" id="country" onchange="print_state('province',this.selectedIndex);">
                <option value="<%= buyer.portCountry %>" selected="selected"><%= buyer.portCountry %></option>
                <option>Select Country</option>
              </select>
            </div>
            <div class="styledSelect">
              <select name="otherLocationProvince" id="province">
                <option value="<%= buyer.portProvince %>" selected="selected"><%= buyer.portProvince %></option>
                <option>Select State/Province</option>
              </select>
            </div><script language="javascript">edit_country("<%= buyer.portCountry %>", "country");</script>
          </section>
          <div><input type="submit"></div>
        </form>

      </div><!-- END .formWrapper -->
    </div><!-- END #buyerInformation -->
  <% } %>
<% } %>