<div id="descriptionsBuyer">
  <h4>Descriptions</h4>
  <form action="/buyer/update/descriptions" method="post" id="buyerDescriptionsForm">
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-12">
          <h5>Company Description</h5>
          <% if (buyer.companyDescription === "undefined" || buyer.companyDescription === undefined) { %>
            <div><textarea rows="5" name="companyDescription" placeholder="Company Description"></textarea></div><br/>
            <% } else { %>
            <div><textarea rows="5" name="companyDescription" placeholder="Company Description"><%= buyer.companyDescription %></textarea></div><br/>
          <% } %>

          <h5>Environmental Sustainability</h5>
          <% if (buyer.environmentalSustainability === "undefined" || buyer.environmentalSustainability === undefined) { %>
            <div><textarea rows="5" name="environmentalSustainability" placeholder="Environmental Sustainability"></textarea></div><br/>
            <% } else { %>
            <div><textarea rows="5" name="environmentalSustainability" placeholder="Environmental Sustainability"><%= buyer.environmentalSustainability %></textarea></div><br/>
          <% } %>

          <h5>Quality Sourcing</h5>
          <% if (buyer.qualitySourcing === "undefined" || buyer.qualitySourcing === undefined) { %>
            <div><textarea rows="5" name="qualitySourcing" placeholder="Quality Sourcing"></textarea></div><br/>
            <% } else { %>
            <div><textarea rows="5" name="qualitySourcing" placeholder="Quality Sourcing"><%= buyer.qualitySourcing %></textarea></div><br/>
          <% } %>

          <h5>Workplace Safety</h5>
          <% if (buyer.qualitySourcing === "undefined" || buyer.qualitySourcing === undefined) { %>
            <div><textarea rows="5" name="workplaceSafety" placeholder="Workplace Safety"></textarea></div><br/>
            <% } else { %>
            <div><textarea rows="5" name="workplaceSafety" placeholder="Workplace Safety"><%= buyer.workplaceSafety %></textarea></div><br/>
          <% } %>

          <h5>Labor Education &amp; Training</h5>
          <% if (buyer.laborEducationTraining === "undefined" || buyer.laborEducationTraining === undefined) { %>
            <div><textarea rows="5" name="laborEducationTraining" placeholder="Labor Education Training"></textarea></div><br/>
            <% } else { %>
            <div><textarea rows="5" name="laborEducationTraining" placeholder="Labor Education Training"><%= buyer.laborEducationTraining %></textarea></div><br/>
          <% } %>

          <h5>Community Reinvestment</h5>
          <% if (buyer.reinvestment === "undefined" || buyer.reinvestment === undefined) { %>
            <div><textarea rows="5" name="reinvestment" placeholder="Reinvestment"></textarea></div>
            <% } else { %>
            <div><textarea rows="5" name="reinvestment" placeholder="Reinvestment"><%= buyer.reinvestment  %></textarea></div>
          <% } %>

        </div>
      </div><!-- END .row -->
    </div><!-- END .formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div> 
    <br />
    <br />
  </form>
</div>
