<div id="preferencesBuyer">
  <h4>Preferences</h4>
    <form action="/buyer/update/preferences" method="post" id="buyerPreferencesForm">
      <div class="formWrapper">
        <div class="row">

          <div class="col-sm-6">
            <h5>Preferred Supplier Type*</h5>
            <div class="styledSelect">
              <select name="preferredSupplierType" id="preferredSupplierType">
                <%- partial('../edit-dropdowns/edit-pref-supplier-type') %>
                <script language="javascript">$("#preferredSupplierType").val("<%=buyer.preferredSupplierType%>");</script>
              </select>
            </div>

            <h5>Preferred Supplier Language</h5>
            <div class="styledSelect">
              <select name="preferredSupplierLanguage" id="preferredSupplierLang">
                <% if (buyer.preferredSupplierLanguage.length === 0) { %>
                  <option value="<%= buyer.preferredSupplierLanguage %>" selected="selected">Select a language</option>
                  <%- partial('../edit-dropdowns/edit-pref-supplier-language') %>
                  <% } else { %>
                  <%- partial('../edit-dropdowns/edit-pref-supplier-language') %>
                   <script language="javascript">$("#preferredSupplierLang").val("<%=buyer.preferredSupplierLanguage%>");</script>
                  <% } %>
              </select>
            </div>
          </div> <!-- End of First Column -->

          <div class="col-sm-6">
            <h5>Preferred Supplier Location</h5>
            <div class="styledSelect">
              <select name="preferredSupplierLocation" id="preferredSupplierLocation">
                <option value="<%= buyer.preferredSupplierLocation %>" selected="selected"><%= buyer.preferredSupplierLocation %></option>
              </select>
            </div>
            <% if (buyer.preferredSupplierLocation.length === 0) { %>
              <script language="javascript">print_country("preferredSupplierLocation");</script>
              <% } else { %>
              <script language="javascript">edit_country("<%= buyer.preferredSupplierLocation %>", "preferredSupplierLocation");</script>
            <% } %>
          </div> <!-- End of Second Column -->

        </div> <!-- End of outside row -->
      </div><!-- End of formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
  </form>
</div>
