<div id="preferencesBuyer">
  <h4>Preferences</h4>
  <div class="formWrapper">
    <div class="row">
      <form action="/buyer/update/preferences" method="post" id="buyerPreferencesForm">

        <div class="col-sm-6">
          <h5>Preferred Supplier Type</h5>
          <div class="styledSelect">
            <select name="preferredSupplierType">
              <option value="<%= buyer.preferredSupplierType %>" selected="selected"><%= buyer.preferredSupplierType %></option>
              <%- partial('../edit-dropdowns/edit-pref-supplier-type') %>
            </select>
          </div>

          <h5>Preferred Supplier Language</h5>
          <div class="styledSelect">
            <select name="preferredSupplierLanguage">
              <option value="<%= buyer.preferredSupplierLanguage %>" selected="selected"><%= buyer.preferredSupplierLanguage %></option>
              <%- partial('../edit-dropdowns/edit-pref-supplier-language') %>
            </select>
          </div>
        </div> <!-- End of First Column -->

        <div class="col-sm-6">
        <h5>Preferred Supplier Location</h5>
        <div class="styledSelect">
          <select name="preferredSupplierLocation" id="preferredSupplierLocation">
            <option value="<%= buyer.preferredSupplierLocation %>" selected="selected"><%= buyer.preferredSupplierLocation %></option>
          </select>
        </div><script language="javascript">edit_country("<%= buyer.preferredSupplierLocation %>", "preferredSupplierLocation");</script>
        </div> <!-- End of Second Column -->
        <div><input type="submit"></div>
      </form>
    </div> <!-- End of outside row -->
  </div><!-- End of formWrapper -->
</div>