<div id="preferencesBuyer">
  <h4>Preferences</h4>
    <div class="formWrapper">
      <form action="/buyer/update/preferences" method="post" id="buyerPreferencesForm">
        <h5>Preferred Supplier Type</h5>
        <div>
          <select name="preferredSupplierType">
            <option value="<%= buyer.preferredSupplierType %>" selected="selected"><%= buyer.preferredSupplierType %></option>
              <%- partial('../edit-dropdowns/edit-pref-supplier-type') %>
          </select>
        </div>

        <h5>Preferred Supplier Language</h5>
        <div>
          <select name="preferredSupplierLanguage">
            <option value="<%= buyer.preferredSupplierLanguage %>" selected="selected"><%= buyer.preferredSupplierLanguage %></option>
              <%- partial('../edit-dropdowns/edit-pref-supplier-language') %>
          </select>
        </div>

        <h5>Preferred Supplier Location</h5>
        <div>
          <select name="preferredSupplierLocation" id="preferredSupplierLocation">
            <option value="<%= buyer.preferredSupplierLocaiton %>" selected="selected"><%= buyer.preferredSupplierLocation %></option>
          </select>
        </div>
        <div><input type="submit"></div>
      </form>
    </div>
</div>