<div id="socialOutletsBuyer">
<h4>Social Outlets</h4>
  <div class="formWrapper">
    <form action="/buyer/update/socialoutlets" method="post" id="buyerSocialOutletsForm">
      <h5>Facebook</h5>
        <div><input type="text" name="facebook" value="<%= buyer.facebook %>" placeholder="Facebook"></div>

        <h5>Twitter</h5>
        <div><input type="text" name="twitter" value="<%= buyer.twitter %>" placeholder="Twitter"></div>
        
        <h5>Google+</h5>
        <div><input type="text" name="google" value="<%= buyer.google %>" placeholder="Google"></div>
        
        <h5>LinkedIn</h5>
        <div><input type="text" name="linkedin" value="<%= buyer.linkedin %>" placeholder="Linkedin"></div>

        <h5>Pinterest</h5>
        <div><input type="text" name="pinterest" value="<%= buyer.pinterest %>" placeholder="Pinterest"></div>

        <h5>Instagram</h5>
        <div><input type="text" name="instagram" value="<%= buyer.instagram %>" placeholder="Instagram"></div>

        <h5>Tumblr</h5>
        <div><input type="text" name="tumblr" value="<%= buyer.tumblr %>" placeholder="Tumblr"></div>
        <div><input type="submit"></div>
    </form>
  </div>
</div>