<div id="photosDownloadsSupplier">
    <% if (supplierDownload && supplierDownload.length>0) { %>
      <h4>My Downloadable Files</h4>
      <div class="formWrapper">
        <form id="deleteDownloadsForm" action="/downloads/removeSupplier" method="post">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-8"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"><h3>Remove</h3></div>
            <ul class="downloadsList">
              <% for (var i = 0; i<supplierDownload.length; i++){ %>
                <li>
                  <div class="col-sm-10">
                    <%= supplierDownload[i].title %><a href="<%= supplierDownload[i].assetUrl%>" title="Download Copy" target="_blank"><i class="fa fa-download"></i></a>
                  </div>
                  <div class="col-sm-2">
                    <input type="checkbox" class="deleteYesNo" value="<%=supplierDownload[i].id %>" name="deleteMe"></input>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div><!-- END formWrapper -->
      <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
      <br/>
      <br/>
  </form>
    <% } else { %>
      <h4>My Downloadable Files</h4>
      <div class="formWrapper">
        <div class="row">
          <div class="col-sm-12">
            <p class="detailText">No files uploaded yet. Select files to upload below.</p>
          </div>
        </div>
      </div>
      <br/>
      <br/>
    <% } %>
    <h4>Upload Files</h4>
    <div class="formWrapper">
      <% if (!supplierDownload || supplierDownload.length<5){ %>
        <form id="downloadablesForm" action="/downloads/processSupplier" method="post" enctype="multipart/form-data">
          <% for (var i = 0; i<5-supplierDownload.length; i++){ %>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="<%='downloadTitle' + i %>" placeholder="Title"/>
              </div>
              <div class="col-sm-6">
                <input inline="true" type="file" name="<%='downloadURI'+i %>"  accept="image/*"/>
              </div>
            </div>
          <% } %>
        <% } %>
        <div class="row">
          <div class="col-sm-12">
            <p class="detailText"><%=5-supplierDownload.length%> uploads remain.<% if (supplierDownload.length==5) { %> Remove files above to upload more.<% } %></p>
          </div>
        </div>
      </div><!-- END formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
  </form>
</div><!-- END #photosDownloadsSupplier -->