<% if (company.supplier == true) { %>
<% if ((user.activeMode == 'supplier') || (user.activeMode === undefined)) { %>
<div id="supplierInformation">
  <h4>Supplier Information</h4>
  <div class="formWrapper">
    <div class="row">
      <div class="col-sm-6">
        <h5>Logo Image</h5>
        <div><% if (supplier.logoUrl) { %><img src="<%= supplier.logoUrl %>"><% } %></div>
        <form id="supplierLogoForm" action="/supplier/update/logo" method="post" enctype="multipart/form-data">
          <input type="file" name="logo" accept="image/*"/>
          <input type="submit" value="Update Logo Image">
        </form>
      </div><!-- END logo image .col-sm-12 -->
    </div>
  </div>

  <form action="/supplier/update/information" method="post" id="supplierInformationForm">
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-6"> <!-- Left Column-->
          <h5>DBA Name</h5>
          <div><input type="text" name="dba" <% if (supplier.dbaName) { %>value="<%= supplier.dbaName %>"<% }%> placeholder="Alternate Company Name"></div>

          <h5>Language*</h5>
          <div class="styledSelect">
            <select name="language" id="languageSelect">

              <%- partial('../edit-dropdowns/edit-language') %>
              <script language="javascript">$("#languageSelect").val("<%=supplier.language%>");</script>

            </select>
          </div>

          <h5>Type of Company*</h5>
          <section id="typeOfCompany">
            <div class="styledSelect breakForm">
              <select name="typeOfCompany" id="typeOfComp">
                <%- partial('../edit-dropdowns/edit-buyer-type') %>
                <% if (supplier.preferredBuyerType) { %>
                <script language="javascript">$("#typeOfComp").val("<%=supplier.typeOfCompany%>");</script>
                <% } %>
              </select>
            </div>
          </section>

          <h5>Contact Name</h5>
          <% if (supplier.contactName === undefined) { %>
          <div><input type="text" name="contactName" placeholder="Contact Name"></div>
          <% } else { %>
          <div><input type="text" name="contactName" value="<%= supplier.contactName %>" placeholder="Contact Name"></div>
          <% } %>

          <h5>Contact Position</h5>
          <% if (supplier.contactPosition === undefined) { %>
          <div><input type="text" name="contactPosition" placeholder="Contact Position"></div>
          <% } else { %>
          <div><input type="text" name="contactPosition" value="<%= supplier.contactPosition %>" placeholder="Contact Position"></div>
          <% } %>

          <h5>Contact Email</h5>
          <% if (supplier.contactEmail === undefined) { %>
          <div><input type="text" name="contactEmail" placeholder="Contact Email"></div>
          <% } else { %>
          <div><input type="text" name="contactEmail" value="<%= supplier.contactEmail %>" placeholder="Contact Email"></div>
          <% } %>

          <h5>Private Labeler</h5>
          <section id="privateLabeler" class="breakForm">
            <% if (supplier.privateLabeler === true) { %>
            <input class="checkbox"type="checkbox" name="privateLabeler" value="privateLabeler" checked="checked"><div class="checkboxtext">Private Labeling</div><br>
            <% } else { %>
            <input class="checkbox"type="checkbox" name="privateLabeler" value="privateLabeler"><div class="checkboxtext">Private Labeling</div><br>
            <% } %>
          </section>

          <h5>GSA Approved Supplier</h5>
          <section id="gsaApprovedSupplier" class="breakForm">
            <% if (supplier.gsaApprovedSupplier === true) { %>
            <input class="checkbox"type="checkbox" name="gsaApprovedSupplier" value="gsaApprovedSupplier" checked="checked"><div class="checkboxtext">GSA Approved Supplier</div><br>
            <% } else { %>
            <input class="checkbox"type="checkbox" name="gsaApprovedSupplier" value="gsaApprovedSupplier"><div class="checkboxtext">GSA Approved Supplier</div><br>
            <% } %>
          </section>

          <h5>DUNS Number</h5>
          <% if (supplier.dunsNumber === undefined) { %>
          <div><input type="text" name="dunsNumber" placeholder="DUNS Number"></div>
          <% } else { %>
          <div><input type="text" name="dunsNumber" value="<%= supplier.dunsNumber %>" placeholder="DUNS Number"></div>
          <% } %>

          <h5>CAGE Code</h5>
          <% if (supplier.cageCode=== undefined) { %>
          <div><input type="text" name="cageCode" placeholder="CAGE Code"></div>
          <% } else { %>
          <div><input type="text" name="cageCode" value="<%= supplier.cageCode %>" placeholder="CAGE Code"></div>
          <% } %>

        </div>
        <div class="col-sm-6"> <!-- Right Column-->

          <h5>Accepted Payment Terms*</h5>
          <section id="acceptedPaymentTerms">
            <div class="row">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                MoneyGram
              </div>

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                Western Union
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                T/T
              </div>

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                Credit Card
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                Escrow
              </div>

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                PayPal
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                D/P D/A
              </div>

              <div class="col-sm-2">
                <label class="checkbox-inline">
                  <input type="checkbox" id="acceptedPaymentTerms" value="MoneyGram" />
                </label>
              </div>
              <div class="col-sm-4 checkboxText">
                Cash
              </div>
            </div>
          </section>
        </div>
      </div>
    </div><!-- END .formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div><br/><br/>
  </form>
</div><!-- END #companyDetails -->
<% } %>
<% } %>
