<div id="preferencesSupplier">
  <h4>Preferences</h4>
  <form action="/supplier/update/preferences" method="post" id="supplierPreferencesForm">
    <div class="formWrapper">
      <div class="row">

        <div class="col-sm-6">
          <h5>Preferred Buyer Type</h5>
          <div class="styledSelect">
            <select name="preferredBuyerType">
              <option value="<%= supplier.preferredBuyerType %>" selected="selected"><%= supplier.preferredBuyerType %></option>
              <%- partial('../edit-dropdowns/edit-pref-buyer-type') %>
            </select>
          </div>
          <h5>Preferred Buyer Language</h5>
          <div class="styledSelect">
            <select name="preferredBuyerLanguage">
              <% if (supplier.preferredBuyerLanguage.length === 0) { %>
                <option value="<%= supplier.preferredBuyerLanguage %>" selected="selected">Select a language</option>
                <% } else { %>
                <option value="<%= supplier.preferredBuyerLanguage %>" selected="selected"><%= supplier.preferredBuyerLanguage %></option>
              <% } %>
              <%- partial('../edit-dropdowns/edit-pref-buyer-language') %>
            </select>
          </div>
        </div> <!-- End of First Column -->

        <div class="col-sm-6">
          <h5>Preferred Buyer Location</h5>
          <div class="styledSelect">
            <select name="preferredBuyerLocation" id="preferredBuyerLocation">
              <option value="<%= supplier.preferredBuyerLocation %>" selected="selected"><%= supplier.preferredBuyerLocation %></option>
            </select>
          </div>
          <% if (supplier.preferredBuyerLocation.length === 0) { %>
            <script language="javascript">print_country("preferredBuyerLocation");</script>
            <% } else { %>
            <script language="javascript">edit_country("<%= supplier.preferredBuyerLocation %>", "preferredBuyerLocation");</script>
          <% } %>
        </div> <!-- End of Second Column -->
        
      </div> <!-- End of outside row -->
    </div><!-- End of formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-arrow-right"></i></button></div>
  </form>
</div>
