<div id="descriptionsSupplier">
  <h4>Descriptions</h4>
    <div class="formWrapper">
      <form action="/supplier/update/descriptions" method="post" id="supplierDescriptionsForm">
        <h5>Company Description</h5>
        <div><textarea name="companyDescription" placeholder="Company Description"><%= supplier.companyDescription %></textarea></div>

        <h5>Environmental Sustainability</h5>
        <div><textarea name="environmentalSustainability" placeholder="Environmental Sustainability"><%= supplier.environmentalSustainability %></textarea></div>

        <h5>Quality Sourcing</h5>
        <div><textarea name="qualitySourcing" placeholder="Quality Sourcing"><%= supplier.environmentalSustainability  %></textarea></div>

        <h5>Workplace Safety</h5>
        <div><textarea name="workplaceSafety" placeholder="Workplace Safety"><%= supplier.workplaceSafety  %></textarea></div>

        <h5>Labor Education &amp; Training</h5>
        <div><textarea name="laborEducationTraining" placeholder="Labor Education Training"><%= supplier.laborEducationTraining  %></textarea></div>

        <h5>Community Reinvestment</h5>
        <div><textarea name="reinvestment" placeholder="Reinvestment"><%= supplier.reinvestment  %></textarea></div>

        <div><input type="submit"></div>
      </form>
    </div>
</div>