<div id="productionDetails">
  <h4>Production Details</h4>
  <form action="/supplier/update/productionDetails" method="post" id="supplierProductionDetailsForm">
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-6">
          <h5>Annual Sales Value</h5>
          <div class="styledSelect">
          <select name="annualSalesValue">
            <% if (supplier.annualSalesValue === undefined) { %>
              <option value="" selected="selected">Select an option</option>
              <% } else { %>
              <option value="<%= supplier.annualSalesValue %>" selected="selected"><%= supplier.annualSalesValue %></option>
            <% } %>
            <%- partial('../edit-dropdowns/edit-annual-sales-value') %>
          </select>
          </div>

          <h5>Total Factory Size</h5>
          <div class='styledSelect'>
          <select name="totalFactorySize">
            <% if (supplier.totalFactorySize === undefined) { %>
              <option value="" selected="selected">Select an option</option>
              <% } else { %>
              <option value="<%= supplier.totalFactorySize %>" selected="selected"><%= supplier.totalFactorySize %></option>
            <% } %>
            <%- partial('../edit-dropdowns/edit-factory-size') %>
          </select>
          </div>

          <h5>Total QC Staff</h5>
          <div class="styledSelect">
          <select name="totalQCStaff">
            <% if (supplier.totalQCStaff === undefined) { %>
              <option value="" selected="selected">Select an option</option>
              <% } else { %>
              <option value="<%= supplier.totalQCStaff %>" selected="selected"><%= supplier.totalQCStaff %></option>
            <% } %>
            <%- partial('../edit-dropdowns/edit-qc-staff') %>
          </select>
          </div>

          <h5>Nearest Port</h5>
          <section id="port">
            <% if (supplier.portCity === undefined) { %>
              <div><input type="text" name="portCity" value="" placeholder="City"></div>
              <% } else { %>
              <div><input type="text" name="portCity" value="<%= supplier.portCity %>" placeholder="City"></div>
            <% } %>

            <div class="styledSelect">
              <select name="portCountry" id="portCountry" onchange="print_state('portProvince',this.selectedIndex);">
                <!-- edit_country() will populate this dropdown -->
              </select>
            </div>

            <div class="styledSelect">
              <select name="portProvince" id="portProvince">
                <option value="<%= supplier.portProvince %>" selected="selected"><%= supplier.portProvince %></option>
              </select>
            </div><script language="javascript">edit_country("<%= supplier.portCountry %>", "portCountry");</script>
          </section>
        </div>

        <div class="col-sm-6">
          <h5>Additional Location</h5>
          <section id="otherLocation1">
            <div><input type="text" name="locationName" value="<%= supplier.locationName %>" placeholder="Location Title"></div>

            <div class="styledSelect">
              <select name="locationType">
                <% if (supplier.locationType.length === 0) { %>
                  <option value="" selected="selected">Select an option</option>
                  <% } else { %>
                  <option value="<%= supplier.locationType %>" checked="checked"><%= supplier.locationType %></option>
                <% } %>
                <%- partial('../edit-dropdowns/edit-other-location-type') %>
              </select>
            </div>

            <div class="styledSelect">
              <select name="locationCountry" id="country" onchange="print_state('province',this.selectedIndex);">
                <!-- edit_country() will populate this dropdown -->
              </select>
            </div> 

            <div class="styledSelect">
              <select name="locationProvince" id="province">
                <option value="<%= supplier.locationProvince %>" selected="selected"><%= supplier.locationProvince %></option>
              </select>
            </div><script language="javascript">edit_country("<%= supplier.locationCountry %>", "country");</script>

            <div><input type="text" name="locationCity" value="<%= supplier.locationCity %>" placeholder="City"></div>
          </section>
        </div>


      </div><!-- END row -->
    </div><!-- END .formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
  </form>
</div><!-- END #companyDetails -->
