<div id="descriptionsSupplier">
  <h4>Descriptions</h4>
    <form action="/supplier/update/descriptions" method="post" id="supplierDescriptionsForm">
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-12">
          <h5>Company Description</h5>
          <div><textarea rows="5" name="companyDescription" placeholder="Company Description"><%= supplier.companyDescription %></textarea></div><br/>

          <h5>Environmental Sustainability</h5>
          <div><textarea rows="5" name="environmentalSustainability" placeholder="Environmental Sustainability"><%= supplier.environmentalSustainability %></textarea></div><br/>

          <h5>Quality Sourcing</h5>
          <div><textarea rows="5" name="qualitySourcing" placeholder="Quality Sourcing"><%= supplier.environmentalSustainability  %></textarea></div><br/>

          <h5>Workplace Safety</h5>
          <div><textarea rows="5" name="workplaceSafety" placeholder="Workplace Safety"><%= supplier.workplaceSafety  %></textarea></div><br/>

          <h5>Labor Education &amp; Training</h5>
          <div><textarea rows="5" name="laborEducationTraining" placeholder="Labor Education Training"><%= supplier.laborEducationTraining  %></textarea></div><br/>

          <h5>Community Reinvestment</h5>
          <div><textarea rows="5" name="reinvestment" placeholder="Reinvestment"><%= supplier.reinvestment  %></textarea></div>
        </div>

      </div>
    </div>
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div> 
    <br />
    <br />
  </form>
</div>