<div id="productionDetails">
  <h4>Production Details</h4>
  <form action="/supplier/update/productionDetails" method="post" id="supplierProductionDetailsForm">
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-6">
          <h5>Annual Sales Value*</h5>
          <div class="styledSelect">
          <select name="annualSalesValue" id="annualSalesValue">
            <%- partial('../edit-dropdowns/edit-annual-sales-value') %>
            <% if (supplier.annualSalesValue) { %>
              <script language="javascript">$("#annualSalesValue").val("<%=supplier.annualSalesValue%>");</script>
            <% } else { %>
               <script language="javascript">$("#annualSalesValue").val("");</script>
            <% } %>
          </select>
          </div>

          <h5>Total Factory Size</h5>
          <div class='styledSelect'>
          <select name="totalFactorySize" id="totalFactorySize">
            <%- partial('../edit-dropdowns/edit-factory-size') %>
            <% if (supplier.totalFactorySize) { %>
            <script language="javascript">$("#totalFactorySize").val("<%=supplier.totalFactorySize%>");</script>
              <% } else { %>
              <script language="javascript">$("#totalFactorySize").val("");</script>
            <% } %>
          </select>
          </div>

          <h5>Total Quality Control Staff</h5>
          <div class="styledSelect">
          <select name="totalQCStaff" id="totalQCStaff">
            <%- partial('../edit-dropdowns/edit-qc-staff') %>
            <% if (supplier.totalQCStaff) { %>
              <script language="javascript">$("#totalQCStaff").val("<%=supplier.totalQCStaff%>");</script>
            <% } else { %>
              <script language="javascript">$("#totalQCStaff").val("");</script>
            <% } %>
          </select>
          </div>

          <h5>Nearest Port</h5>
          <section id="port">
            <% if (supplier.portCity) { %>
               <div><input type="text" name="portCity" value="<%= supplier.portCity %>" placeholder="City"></div>
              <% } else { %>
              <div><input type="text" name="portCity" value="" placeholder="City"></div>
            <% } %>

            <div class="styledSelect">
              <select name="portCountry" id="portCountry" onchange="print_state('portProvince',this.selectedIndex);">
              <script language="javascript">print_country("portCountry");</script>
              <% if (supplier.portCountry) { %>
                <script language="javascript">
                  $("#portCountry").val("<%=supplier.portCountry%>");
                </script>
              <% } else { %>
                <script language="javascript">$("#portCountry").val("");</script>
              <% } %>
              </select>
            </div>

            <div class="styledSelect">
              <select name="portProvince" id="portProvince">
                <% if (supplier.portCountry) { %>
                  <script language="javascript">print_state("portProvince",$("#portCountry").prop('selectedIndex'));</script>
                <% } else {%>
                  <script language="javascript">print_state("portProvince",0);</script>
                <% } %>
                <% if (supplier.portProvince) { %>
                  <script language="javascript">
                    $("#portProvince").val("<%=supplier.portProvince%>");
                  </script>
                <% } else { %>
                  <script language="javascript">
                    $("#portProvince").val("");
                  </script>
                <% } %>
              </select>
            </div>
          </section>
        </div>

        <div class="col-sm-6">
          <h5>Secondary Location</h5>
          <section id="otherLocation1">
            <div><input type="text" name="locationName" value="<%= supplier.locationName %>" placeholder="Location Title"></div>

            <div class="styledSelect">
              <select name="locationType" id="locationType">
                <%- partial('../edit-dropdowns/edit-other-location-type') %>
                <% if (supplier.locationType) { %>
                <script language="javascript">$("#locationType").val("<%=supplier.locationType%>");</script>
                  <%} else { %>
                  <script language="javascript">$("#locationType").val("");</script>
                <% } %>
              </select>
            </div>

            <div class="styledSelect">
              <select name="locationCountry" id="locationCountry" onchange="print_state('locationProvince',this.selectedIndex);">
              <script language="javascript">print_country("locationCountry");</script>
              <% if (supplier.locationCountry) { %>
                <script language="javascript">
                  $("#locationCountry").val("<%=supplier.locationCountry%>");
                </script>
              <% } else { %>
                <script language="javascript">$("#locationCountry").val("");</script>
              <% } %>
              </select>
            </div> 

            <div class="styledSelect">
              <select name="locationProvince" id="locationProvince">
              <% if (supplier.locationCountry) { %>
                  <script language="javascript">print_state("locationProvince",$("#locationCountry").prop('selectedIndex'));</script>
                <% } else {%>
                  <script language="javascript">print_state("locationProvince",0);</script>
              <% } %>
              <% if (supplier.locationProvince) { %>
                <script language="javascript">
                  $("#locationProvince").val("<%=supplier.locationProvince%>");
                </script>
              <% } else { %>
                <script language="javascript">$("#locationProvince").val("");</script>
              <% } %>
              </select>
            </div>

            <div><input type="text" name="locationCity" value="<%= supplier.locationCity %>" placeholder="City"></div>
          </section>
        </div>


      </div><!-- END row -->
    </div><!-- END .formWrapper -->
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div>
  </form>
</div><!-- END #companyDetails -->
