<div id="socialOutletsSupplier">
  <h4>Social Outlets</h4>
  <div class="formWrapper">
    <form action="/supplier/update/socialoutlets" method="post" id="supplierSocialOutletsForm">
      <h5>Facebook</h5>
      <div class="input-group"><div class="input-group-addon">facebook.com/<input type="text" name="facebook" value="<%= supplier.facebook %>" placeholder="Facebook"></div></div>

      <h5>Twitter</h5>
      <div class="input-group"><div class="input-group-addon">twitter.com/<input type="text" name="twitter" value="<%= supplier.twitter %>" placeholder="Twitter"></div></div>

      <h5>Google+</h5>
      <div class="input-group"><div class="input-group-addon">plus.google.com/+<input type="text" name="google" value="<%= supplier.google %>" placeholder="Google"></div></div>

      <h5>LinkedIn</h5>
      <div class="input-group"><div class="input-group-addon">linkedin.com/users/<input type="text" name="linkedin" value="<%= supplier.linkedin %>" placeholder="Linkedin"></div></div>

      <h5>Pinterest</h5>
      <div class="input-group"><div class="input-group-addon">pinterest.com/<input type="text" name="pinterest" value="<%= supplier.pinterest %>" placeholder="Pinterest"></div></div>

      <h5>Instagram</h5>
      <div class="input-group"><div class="input-group-addon">instagram.com/<input type="text" name="instagram" value="<%= supplier.instagram %>" placeholder="Instagram"></div></div>

      <h5>Tumblr</h5>
      <div class="input-group"><div class="input-group-addon">tumblr.com/<input type="text" name="tumblr" value="<%= supplier.tumblr %>" placeholder="Tumblr"></div></div>
      <div><input type="submit"></div>
    </form>
  </div>
</div>