<div id="descriptionsSupplier">
  <h4>Descriptions</h4>
    <form action="/supplier/update/descriptions" method="post" id="supplierDescriptionsForm">
    <div class="formWrapper">
      <div class="row">
        <div class="col-sm-12">
          <h3>Company Description</h3>
            <div><textarea rows="5" name="companyDescription" placeholder="Company Description"><% if (supplier.companyDescription) { %><%= supplier.companyDescription %><% } %></textarea></div><br/>

          <br/>
          <h3>Statements of Responsibility</h3>
          <h5>Environmental Sustainability</h5>
            <div><textarea rows="5" name="environmentalSustainability" placeholder="Environmental Sustainability"><% if (supplier.environmentalSustainability) { %><%= supplier.environmentalSustainability %><% } %></textarea></div><br/>

          <h5>Quality Sourcing</h5>
            <div><textarea rows="5" name="qualitySourcing" placeholder="Quality Sourcing"><% if (supplier.qualitySourcing) { %><%= supplier.qualitySourcing %><% } %></textarea></div><br/>

          <h5>Workplace Safety</h5>
            <div><textarea rows="5" name="workplaceSafety" placeholder="Workplace Safety"><% if (supplier.workplaceSafety) { %><%= supplier.workplaceSafety  %><% }%></textarea></div><br/>

          <h5>Labor Education &amp; Training</h5>
            <div><textarea rows="5" name="laborEducationTraining" placeholder="Labor Education Training"><% if (supplier.laborEducationTraining) { %><%= supplier.laborEducationTraining  %><% } %></textarea></div><br/>

          <h5>Community Reinvestment</h5>
            <div><textarea rows="5" name="reinvestment" placeholder="Reinvestment"><% if (supplier.reinvestment) { %><%= supplier.reinvestment  %><% } %></textarea></div>
        </div>

      </div>
    </div>
    <div class="row"><button class="continueButton" type="submit">Save&nbsp;&nbsp; <i class="fa fa-check"></i></button></div> 
    <br />
    <br />
  </form>
</div>
